
<div class="popup-left" id="popup-tech-spec">
	<div class="close dismiss-button" id="popup-close-button"></div>
	<div class="promo-img">
		<a href="https://www.motionvfx.com/store,mtitle-film-dv,p3703.html" target="_blank" rel="noopener noreferrer" aria-label="mTitle Film for DaVinci Resolve">
			<img class="" src="dist/512.png" alt="" width="360" height="360" />
		</a>
	</div>
	<p class="popup-left-title">
		<span>We also have mTitle Film for DVR!</span>
	</p>
	<p class="popup-left-subtitle">
		<a  target="_blank" rel="noopener noreferrer" href="https://www.motionvfx.com/store,mtitle-film-dv,p3703.html">Check it out</a>
	</p>
</div>