<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
          content="Leading creators of plugins, templates, and add-ons for Final Cut Pro and DaVinci Resolve. We’ve been setting trends and pushing the boundaries of motion design and plugins’ quality for years. Our products are a benchmark for the industry and inspiration for others. And we love every step of that creative process!">
    <meta content="width=device-width, initial-scale=0.9, maximum-scale=0.9, user-scalable=no"
          name="viewport">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Signika:wght@300&display=swap"
          rel="preload"
          as="style"
          crossorigin
          onload="this.onload=null;this.rel='stylesheet'">
    {# <link href="static/css/plugin_core_styles.css" rel="stylesheet"> #}
    <link href="static/css/core.css" rel="stylesheet">
    <link href="dist/styles.css" rel="stylesheet" />
    {% set css_links  = [
      'https://s3.motionvfx.com/mvfxpublic/pages/templates/57/css/css-27-01-2022-4.css'
      ] %}

      {% for cl in css_links %}
      <link href="{{ cl }}?response-content-type=text/css" rel="stylesheet">
      {% endfor %}
</head>
