<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Test">
    <meta content="width=device-width, initial-scale=0.9, maximum-scale=0.9, user-scalable=no" name="viewport">
    <title>Document</title>
    <link rel="preconnect" href="https://s3.motionvfx.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap"
          rel="preload"
          as="style"
          crossorigin
          onload="this.onload=null;this.rel='stylesheet'"/>

    <link href="css/vendor/bootstrap-4.1.3.min.css" rel="stylesheet" />
    <link href="css/vendor/custom_pages_wrap.css" rel="stylesheet" />

    <link href="dist/styles.css" rel="stylesheet" />
    <link href="dist/multiple-software.css" rel="stylesheet" />

    <script src="scripts/vendor/jquery-3.4.1.min.js"></script>
    <script src="scripts/vendor/bootstrap-4.1.3.bundle.min.js"></script>
    {# <script src="scripts/vendor/custom_pages_wrap.js"></script> #}


</head>
