<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <link href="css/vendor/bootstrap-4.1.3.min.css" rel="stylesheet" />
    <link href="css/vendor/custom_pages_wrap.css" rel="stylesheet" />
    {# <link href="https://s3.motionvfx.com/mvfxpublic/products/templates/1212/css/bundle.css?response-content-type=text/css" rel="stylesheet"> #}

    <link href="dist/styles.css" rel="stylesheet" />
    {# <link href="https://s3.motionvfx.com/mvfxpublic/products/templates/1351/css/popup.css?response-content-type=text/css" rel="stylesheet" /> #}

    <script src="scripts/vendor/jquery-3.4.1.min.js"></script>
    <script src="scripts/vendor/bootstrap-4.1.3.bundle.min.js"></script>
    <script src="scripts/vendor/custom_pages_wrap.js"></script>
    <script src="scripts/vendor/scroll_to_anchor.js"></script>

</head>
