{% macro picture(media_url, filename, media_files={}, file_sizes=[360, 480, 640, 960], default_size=none, formats=['webp','jpg'], media_sizes="", media="", alt="", img_class="", picture_class="", width="", height="", loading="", data_src=False, img_style="") %}
    <picture class="{{ picture_class }}">
        {% for media in media_files %}
            {% set m = media_files[media] %}
            {% for format in (m['formats'] | default(formats)) %}
                <source {% if data_srcset %}data-src{% else %}srcset{% endif %}
                        {%- for size in m['file_sizes'] -%}
                        {{ media_url }}
                        {{ m['filename'] }}
                        -
                        {{ size }}
                        {{ format }}
                        {{ size }}
                        w
                        {%- endfor -%}
                        type="image/{{ format | replace('jpg', 'jpeg') }}"
                        sizes="{{ m['media_sizes'] | default(media_sizes) }}"
                        media="{{ media }}"/>
            {% endfor %}
        {% endfor %}
        {% for format in formats %}
            <source {% if data_srcset %}data-src{% else %}srcset{% endif %}
                    {%- for size in file_sizes -%}
                    {{ media_url }}
                    {{ filename }}
                    -
                    {{ size }}
                    {{ format }}
                    {{ size }}
                    w
                    {%- endfor -%}
                    type="image/{{ format | replace('jpg', 'jpeg') }}"
                    sizes="{{ media_sizes }}"
                    media="{{ media }}"/>
        {% endfor %}
        <img {% if data_src %}data-src{% else %}src{% endif %}{{ media_url }}{{ filename }}-{{ default_size or file_sizes[0] }}{{ formats[-1] }}
             alt="{{ alt }}"
             class="{{ img_class }}"
             width="{{ width }}"
             height="{{ height }}"
             loading="{{ loading }}"
             style="{{ img_style }}"/>
    </picture>
{% endmacro %}

{% macro splitText(text, center = 0.5, mode = 'chars') %}
    <span split style="--chars-total: {{ text|length }};">
        {%- if mode == 'words' -%}
            {%- for i in range(text|length) -%}
                {% set l = text[i] %}
                {% set p = text[i-1] %}
                {%- if i == 0 or p == ' ' -%}
                    <span class="word">
                    {%- endif -%}
                    {{ l.replace(' ', ' ') }}
                    {%- if (i == text|length - 1) or l == ' ' -%}
                    </span>
                {%- endif -%}
            {%- endfor -%}
        </span>
    {%- else -%}
        {%- for i in range(text|length) -%}
            {% set l = text[i] %}{% set p = text[i-1] %}
            {%- if i == 0 or p == ' ' -%}
                <span class="word">
                {%- endif -%}
                <span class="char"
                      data-char="{{ l }}"
                      data-char-index="{{ i }}"
                      style="--char-index: {{ i }};
                             --center-index: {{ (i - center * text|length)|abs }};">
                    {{ l.replace(' ', ' ') }}
                </span>
                {%- if (i == text|length - 1) or l == ' ' -%}
                </span>
            {%- endif -%}
        {%- endfor -%}
    </span>
{%- endif -%}
</span>
{% endmacro %}
