<div class="core-site-styles" style="position: relative; z-index: 101">
    <!-- Google Tag Manager (noscript) -->
    <noscript
        ><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-NL8HGKC"
            height="0"
            width="0"
            style="display: none; visibility: hidden"
        ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="navbar-collapse-background"></div>

    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <div class="d-flex order-0 main-logo">
            <a class="navbar-brand mr-1 navbar-vfx" href="/">
                <img
                    src="https://www.motionvfx.com/static/svg/logo.svg"
                    alt="MotionVFX"
                    width="31"
                    height="31"
                /><span>motionVFX</span></a
            >
        </div>

        <div
            class="navbar-collapse order-2 collapsed-nav"
            id="collapsingNavbar"
            style="max-height: 1938px"
        >
            <div class="navbar-menu-left">
                <ul class="navbar-nav text-nowrap">
                    <li class="nav-item d-lg-none">
                        <a
                            class="nav-link cursor-pointer"
                            data-auth-section-toggle=""
                            >Login</a
                        >
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="
                                cursor-pointer
                                nav-link
                                dropdown-toggle
                                product-types-link
                            "
                            data-redirect-link="/store,c,final-cut-pro.html"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            >Final Cut Pro</a
                        >
                        <div
                            class="dropdown-menu fade"
                            aria-labelledby="navbarDropdown"
                        >
                            <a
                                class="dropdown-item"
                                href="/store,plugins-final-cut-pro,2,8.html"
                                >Plugins</a
                            >

                            <a
                                class="dropdown-item"
                                href="/store,templates-motion-final-cut-pro,1,4.html"
                                >Templates</a
                            >
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link"
                            href="/store,plugins-davinci-resolve,2,11.html"
                            role="button"
                            >DaVinci Resolve</a
                        >
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="
                                cursor-pointer
                                nav-link
                                dropdown-toggle
                                product-types-link
                            "
                            data-redirect-link="/store,c,other.html"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            >Other</a
                        >
                        <div
                            class="dropdown-menu fade"
                            aria-labelledby="navbarDropdown"
                        >
                            <a
                                class="dropdown-item"
                                href="/store,templates-mo2-plugin,1,6.html"
                                >mO2 templates</a
                            >

                            <a
                                class="dropdown-item"
                                href="/store,templates-after-effects,1,5.html"
                                >After Effects templates</a
                            >
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link"
                            href="/store,compositing-elements,3.html"
                            role="button"
                            >Stock elements</a
                        >
                    </li>
                </ul>
            </div>
            <div class="navbar-menu-right">
                <ul class="navbar-nav text-nowrap">
                    <li class="nav-item dropdown">
                        <a
                            class="
                                cursor-pointer
                                nav-link
                                dropdown-toggle
                                product-types-link
                            "
                            role="button"
                            data-toggle="dropdown"
                            >Team</a
                        >
                        <div
                            class="dropdown-menu fade"
                            aria-labelledby="navbarDropdown"
                        >
                            <a class="dropdown-item" href="/page/about.html"
                                >About Us</a
                            >

                            <a class="dropdown-item" href="/join-us.html"
                                >Join Us</a
                            >
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="
                                cursor-pointer
                                nav-link
                                dropdown-toggle
                                product-types-link
                            "
                            role="button"
                            data-toggle="dropdown"
                            >Help</a
                        >
                        <div
                            class="dropdown-menu fade"
                            aria-labelledby="navbarDropdown"
                        >
                            <a class="dropdown-item" href="/faq.html">FAQ</a>
                            <a
                                class="dropdown-item"
                                href="/page/minstaller.html"
                                >mInstaller</a
                            >
                            <a
                                class="dropdown-item"
                                href="https://www.motionvfx.com/page/affiliate.html"
                                target="_blank"
                                rel="nofollow"
                                >Affiliate Program</a
                            >
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="navbar-right text-right order-1 order-lg-last">
            <button class="menu-icon-svg navbar-toggler">
                <div class="icon"></div>
            </button>

            <a
                data-global-search-toggle=""
                class="search-icon-svg cursor-pointer"
                id="globalSearchToggle"
            >
                <div class="icon"></div>
            </a>

            <a
                data-auth-section-toggle=""
                id="authSectionBtn"
                role="button"
                class="cursor-pointer head-icon-svg d-none d-md-inline"
            >
                <div class="icon"></div>
            </a>

            <a
                role="button"
                class="bag-icon-svg cursor-pointer d-flex float-right"
                data-minicart-toggle=""
            >
                <div class="icon d-inline-flex"></div>
                <small id="cartProductCount" class="d-inline-flex"></small>
            </a>
        </div>
    </nav>

    <div class="collapse-login-popup" id="authSection">
        <button class="dismiss-btn" type="button">
            <img
                src="https://www.motionvfx.com/static/svg/close.svg"
                width="18"
                height="18"
                alt="Close"
            />
        </button>

        <div
            class="card card-body ui-blocker"
            data-ui-blocker=""
            id="authFormsContainer"
        >
            <div class="container" id="loginSection">
                <div class="row align-self-center justify-content-center">
                    <div class="login-form">
                        <h2 class="text-center">Please sign in</h2>

                        <form
                            id="loginForm"
                            method="POST"
                            action="/login"
                            novalidate=""
                            autocomplete="off"
                        >
                            <input
                                type="hidden"
                                name="csrfmiddlewaretoken"
                                value="VEz965pjpdpYx7Vr7ovee5JfWIXXlwtzhwPU69RDFCUo6gFgmW2y0u2hCl0Y9Ktm"
                            />

                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="text"
                                    name="login_username"
                                    autocomplete="off"
                                    maxlength="254"
                                    placeholder="E-mail*"
                                    required=""
                                    id="id_login_username"
                                    style="
                                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAXtJREFUOBGVUj2LwkAUnIjBICIIKe8gWKRKo2BvYXMgWNlYWZ3gn1B/htekibWVcH1aIVV+wQULCxsRtMrtrGYv8RLUB8nuvjczu+9DWywWH3EcL8X3jidM07QfAfucz+ffhJdeIZNwu+iLexoFnrr5Cr/+05xSOvBoX61WYdt2BvaSgGVZ6PV6+QKGYahApVKBKJY6p2PKeduUufb7fbTbbaxWKxwOB0ynU+x2O7ium4ndk3l+KYU8AW02m8UM8Jnn81limMLlcsnDK59IMRKHiXpBQibiEZkY0co3sSxlDegoMsdx0O12Ua/XEUUR1us1jsejhFNEvaBIgK07nU4IwxDNZhOdTicDLXO205OViYrDZrORLg5Qq9VSdUpwJSEwoUjiuF+FOEzTxGAwwH6/x3a7zUD+piXjBpLukDwej2XenufJdNLQhzUYjUao1WpoNBpywIbDYZqPwi6wz6xyEATQdV2ROKmJEVMoIECszdL3ffb7n5EsnJNf8S6HAZZBgLIAAAAASUVORK5CYII=');
                                        background-repeat: no-repeat;
                                        background-attachment: scroll;
                                        background-size: contain;
                                        background-position: 98% 50%;
                                    "
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="password"
                                    name="login_password"
                                    autocomplete="off"
                                    placeholder="Password*"
                                    required=""
                                    id="id_login_password"
                                    style="
                                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAXtJREFUOBGVUj2LwkAUnIjBICIIKe8gWKRKo2BvYXMgWNlYWZ3gn1B/htekibWVcH1aIVV+wQULCxsRtMrtrGYv8RLUB8nuvjczu+9DWywWH3EcL8X3jidM07QfAfucz+ffhJdeIZNwu+iLexoFnrr5Cr/+05xSOvBoX61WYdt2BvaSgGVZ6PV6+QKGYahApVKBKJY6p2PKeduUufb7fbTbbaxWKxwOB0ynU+x2O7ium4ndk3l+KYU8AW02m8UM8Jnn81limMLlcsnDK59IMRKHiXpBQibiEZkY0co3sSxlDegoMsdx0O12Ua/XEUUR1us1jsejhFNEvaBIgK07nU4IwxDNZhOdTicDLXO205OViYrDZrORLg5Qq9VSdUpwJSEwoUjiuF+FOEzTxGAwwH6/x3a7zUD+piXjBpLukDwej2XenufJdNLQhzUYjUao1WpoNBpywIbDYZqPwi6wz6xyEATQdV2ROKmJEVMoIECszdL3ffb7n5EsnJNf8S6HAZZBgLIAAAAASUVORK5CYII=');
                                        background-repeat: no-repeat;
                                        background-attachment: scroll;
                                        background-size: contain;
                                        background-position: 98% 50%;
                                    "
                                />
                            </div>

                            <div class="form-group">
                                <small>*Required Fields</small>
                            </div>

                            <div class="form-group row m-0">
                                <button
                                    class="text-uppercase btn btn-clear mt-0"
                                    type="button"
                                    data-switch-to="passwordRecovery"
                                >
                                    Forgot your password?
                                </button>

                                <div class="ml-auto">
                                    <button
                                        type="submit"
                                        id="loginBtn"
                                        class="btn btn-primary"
                                    >
                                        Sign in
                                    </button>
                                </div>
                            </div>

                            <div
                                class="
                                    row
                                    align-self-center
                                    justify-content-center
                                    mt-50
                                "
                            >
                                <p>
                                    <button
                                        type="button"
                                        class="btn btn-clear signup-link blue"
                                        data-switch-to="signUp"
                                    >
                                        CREATE AN ACCOUNT<i
                                            class="arrow-icon"
                                        ></i>
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container d-none" id="signupSection">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-7 col-lg-5">
                        <h2 class="text-center">Sign Up</h2>
                        <form
                            id="signUpForm"
                            method="post"
                            action="/register"
                            novalidate=""
                        >
                            <input
                                type="hidden"
                                name="csrfmiddlewaretoken"
                                value="0eKq0ITjuYEMRPrJ8AH7ZVaK0Bo0ZGqAm60b0MlDKn9cqYbyn8erLktMGer1NUqn"
                            />
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="email"
                                    name="signup_email"
                                    placeholder="E-mail address*"
                                    required=""
                                    id="id_signup_email"
                                    style="
                                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==');
                                        background-repeat: no-repeat;
                                        background-attachment: scroll;
                                        background-size: 16px 18px;
                                        background-position: 98% 50%;
                                    "
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="password"
                                    name="signup_password1"
                                    placeholder="Password*"
                                    required=""
                                    id="id_signup_password1"
                                    style="
                                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACIUlEQVQ4EX2TOYhTURSG87IMihDsjGghBhFBmHFDHLWwSqcikk4RRKJgk0KL7C8bMpWpZtIqNkEUl1ZCgs0wOo0SxiLMDApWlgOPrH7/5b2QkYwX7jvn/uc//zl3edZ4PPbNGvF4fC4ajR5VrNvt/mo0Gr1ZPOtfgWw2e9Lv9+chX7cs64CS4Oxg3o9GI7tUKv0Q5o1dAiTfCgQCLwnOkfQOu+oSLyJ2A783HA7vIPLGxX0TgVwud4HKn0nc7Pf7N6vV6oZHkkX8FPG3uMfgXC0Wi2vCg/poUKGGcagQI3k7k8mcp5slcGswGDwpl8tfwGJg3xB6Dvey8vz6oH4C3iXcFYjbwiDeo1KafafkC3NjK7iL5ESFGQEUF7Sg+ifZdDp9GnMF/KGmfBdT2HCwZ7TwtrBPC7rQaav6Iv48rqZwg+F+p8hOMBj0IbxfMdMBrW5pAVGV/ztINByENkU0t5BIJEKRSOQ3Aj+Z57iFs1R5NK3EQS6HQqF1zmQdzpFWq3W42WwOTAf1er1PF2USFlC+qxMvFAr3HcexWX+QX6lUvsKpkTyPSEXJkw6MQ4S38Ljdbi8rmM/nY+CvgNcQqdH6U/xrYK9t244jZv6ByUOSiDdIfgBZ12U6dHEHu9TpdIr8F0OP692CtzaW/a6y3y0Wx5kbFHvGuXzkgf0xhKnPzA4UTyaTB8Ph8AvcHi3fnsrZ7Wore02YViqVOrRXXPhfqP8j6MYlawoAAAAASUVORK5CYII=');
                                        background-repeat: no-repeat;
                                        background-attachment: scroll;
                                        background-size: 16px 18px;
                                        background-position: 98% 50%;
                                    "
                                />
                            </div>
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="password"
                                    name="signup_password2"
                                    placeholder="Password confirmation*"
                                    required=""
                                    id="id_signup_password2"
                                    style="
                                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACIUlEQVQ4EX2TOYhTURSG87IMihDsjGghBhFBmHFDHLWwSqcikk4RRKJgk0KL7C8bMpWpZtIqNkEUl1ZCgs0wOo0SxiLMDApWlgOPrH7/5b2QkYwX7jvn/uc//zl3edZ4PPbNGvF4fC4ajR5VrNvt/mo0Gr1ZPOtfgWw2e9Lv9+chX7cs64CS4Oxg3o9GI7tUKv0Q5o1dAiTfCgQCLwnOkfQOu+oSLyJ2A783HA7vIPLGxX0TgVwud4HKn0nc7Pf7N6vV6oZHkkX8FPG3uMfgXC0Wi2vCg/poUKGGcagQI3k7k8mcp5slcGswGDwpl8tfwGJg3xB6Dvey8vz6oH4C3iXcFYjbwiDeo1KafafkC3NjK7iL5ESFGQEUF7Sg+ifZdDp9GnMF/KGmfBdT2HCwZ7TwtrBPC7rQaav6Iv48rqZwg+F+p8hOMBj0IbxfMdMBrW5pAVGV/ztINByENkU0t5BIJEKRSOQ3Aj+Z57iFs1R5NK3EQS6HQqF1zmQdzpFWq3W42WwOTAf1er1PF2USFlC+qxMvFAr3HcexWX+QX6lUvsKpkTyPSEXJkw6MQ4S38Ljdbi8rmM/nY+CvgNcQqdH6U/xrYK9t244jZv6ByUOSiDdIfgBZ12U6dHEHu9TpdIr8F0OP692CtzaW/a6y3y0Wx5kbFHvGuXzkgf0xhKnPzA4UTyaTB8Ph8AvcHi3fnsrZ7Wore02YViqVOrRXXPhfqP8j6MYlawoAAAAASUVORK5CYII=');
                                        background-repeat: no-repeat;
                                        background-attachment: scroll;
                                        background-size: 16px 18px;
                                        background-position: 98% 50%;
                                    "
                                />
                            </div>
                            <div class="form-group">
                                <small>*Required Fields</small>
                            </div>
                            <br />
                            <div class="row nopadding">
                                <div
                                    class="
                                        form-check
                                        col-12 col-sm-6
                                        nopadding
                                        conditions
                                    "
                                >
                                    <div class="form-group">
                                        <label class="container-checkbox"
                                            >I ACCEPT
                                            <a
                                                href="/page/conditions.html"
                                                target="blank"
                                            >
                                                CONDITIONS</a
                                            >
                                            <input
                                                type="checkbox"
                                                name="signup_term"
                                            />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div
                                    class="
                                        col-12 col-sm-6
                                        text-center text-sm-right
                                        nopadding
                                    "
                                >
                                    <button
                                        type="submit"
                                        class="btn btn-primary"
                                    >
                                        Create account
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div class="form-group text-center">
                            <p>
                                <button
                                    class="
                                        text-uppercase
                                        btn btn-clear
                                        blue
                                        mt-50
                                    "
                                    data-switch-to="login"
                                >
                                    Back to log in <i class="arrow-icon"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container d-none" id="passwordRecoverySection">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h2 class="text-center">Password Recovery</h2>
                        <form
                            id="passRecoveryForm"
                            method="POST"
                            action="/forgot-password"
                            novalidate=""
                        >
                            <input
                                type="hidden"
                                name="csrfmiddlewaretoken"
                                value="ACHjsY7E0NKBQCE91xAC9WYfPzfgj75VWuX4s2zYgcf1pLoYg57WVlhhvcih7l5I"
                            />
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="text"
                                    name="recovery_email"
                                    maxlength="254"
                                    placeholder="E-mail*"
                                    required=""
                                    id="id_recovery_email"
                                />
                            </div>
                            <br />
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">
                                    Send
                                </button>
                                <p>
                                    <button
                                        type="button"
                                        class="
                                            text-uppercase
                                            btn btn-clear
                                            blue
                                            mt-50
                                        "
                                        data-switch-to="login"
                                    >
                                        Back to log in<i class="arrow-icon"></i>
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6">
                        <h2 class="text-center">Instructions</h2>
                        <ul class="list-custom list-decimal-style">
                            <li>
                                Type in your e-mail address in the field and
                                click SEND.
                            </li>
                            <li>
                                Once you receive the automated e-mail, click the
                                blue
                                <strong>RECOVER PASSWORD</strong> button to
                                start the recovery procedure.
                            </li>
                            <li>Type in and confirm your new password.</li>
                            <li>Log in using the new credentials.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="text-center d-none" id="activationEmailSentSection">
                <h2>E-mail was sent</h2>
                <p>
                    E-mail address assigned to this account requires
                    confirmation. Check your e-mail for further instructions.
                </p>
                <p>
                    <button
                        type="button"
                        class="text-uppercase btn btn-clear"
                        data-switch-to="login"
                    >
                        Back to log in
                    </button>
                </p>
            </div>

            <div class="text-center d-none" id="recoveryEmailSentSection">
                <h2>E-mail was sent</h2>
                <p>
                    Follow the link in the e-mail, to start password recovery
                    procedure.
                </p>
                <p>
                    <button
                        type="button"
                        class="text-uppercase btn btn-clear blue"
                        data-switch-to="login"
                    >
                        Back to log in <i class="arrow-icon"></i>
                    </button>
                </p>
            </div>
            <div class="ui-blocker-container">
                <div class="ui-blocker-overlay"></div>
                <div class="ui-blocker-message-container">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="auth-background"></div>
    </div>

    <div class="discount-info hide-discount-info">
        <button class="dismiss-btn" type="button">
            <img src="https://www.motionvfx.com/static/svg/close.svg?638" alt=""/>
        </button>
        <h2 class="discount-title"></h2>
        <p class="discount-msg"></p>
        <a id="productSetListBtn" class="btn btn-primary d-none" href=""
            >PRODUCT LIST</a
        >
    </div>

    <script
        id="discountInfoSettings"
        data-init-cart-state='{"items": [], "item_count": 0, "vat": {}, "subtotal": "0", "discount_subtotal": "0", "total": "0", "base_subtotal": "0", "suggestions": [], "discount_code": null, "discount_message": "", "discount_code_bundle_off": false, "base_total": "0"}'
        data-show-delay="30000"
    ></script>

    <script id="userInfoSettings" data-is-authenticated="False"></script>

    <a
        class="plugin-nav-back-btn"
        href="https://www.motionvfx.com/page/davinci-resolve.html?focused_prod=3627"
        style="padding-top: 30px"
    >
        <img src="https://www.motionvfx.com/static/svg/close-white.svg?638" alt=""/>
    </a>
    <div class="d-none container h-100 w-100 p-0" id="globalSearchWrapper">
        <button
            class="dismiss-btn float-right"
            id="globalSearchDismissBtn"
            type="button"
        >
            <img src="https://www.motionvfx.com/static/svg/close.svg" />
        </button>

        <div
            class="d-flex h-100 w-100 justify-content-center align-items-center"
        >
            <div class="search-wrapper">
                <div class="col-12">
                    <div class="h-100">
                        <div class="form-group">
                            <input
                                class="form-control search-input"
                                placeholder="Search..."
                                type="text"
                                name="global_search"
                            />
                            <span
                                id="globalSearchInputClearBtn"
                                class="form-clear d-none search-clear-btn"
                            >
                                <img
                                    src="https://www.motionvfx.com/static/svg/close.svg?638 alt=''"
                                />
                            </span>
                        </div>
                    </div>
                </div>
                <div
                    class="col-12 search-loader ui-blocker"
                    id="globalSearchResultsWrapper"
                >
                    <div
                        id="queryTooShortMsg"
                        class="query-too-short-msg d-none"
                    >
                        <ul>
                            <li><a>Please enter 2 or more characters.</a></li>
                        </ul>
                    </div>
                    <div
                        id="globalSearchNoResultsMsg"
                        class="no-results-msg d-none"
                    >
                        <ul>
                            <li><a>No results.</a></li>
                        </ul>
                    </div>
                    <div id="globalSearchResults" class="search-results"></div>
                    <div class="ui-blocker-container">
                        <div class="ui-blocker-message-container">
                            <div class="spinner">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="globalSearchOverlay" class="d-none w-100 h-100"></div>
    <div id="miniCart" class="minicart hide-cart">
        <div class="minicart-content ui-blocker" data-ui-blocker="">
            <button
                class="dismiss-btn"
                type="button"
                data-minicart-toggle=""
                aria-controls="miniCart"
            >
                <img
                    src="https://www.motionvfx.com/static/svg/close.svg?638"
                    alt="Close"
                    width="15"
                    height="15"
                    alt=""
                />
            </button>

            <h3 class="text-center">Cart preview</h3>

            <div class="minicart-container" style="position: relative">
                <div class="text-center">
                    <table class="table">
                        <tbody id="minicartProducts"></tbody>
                    </table>
                </div>
                <div
                    dir="ltr"
                    class="resize-sensor"
                    style="
                        pointer-events: none;
                        position: absolute;
                        inset: 0px;
                        overflow: hidden;
                        z-index: -1;
                        visibility: hidden;
                        max-width: 100%;
                    "
                >
                    <div
                        class="resize-sensor-expand"
                        style="
                            pointer-events: none;
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            right: 0;
                            bottom: 0;
                            overflow: hidden;
                            z-index: -1;
                            visibility: hidden;
                            max-width: 100%;
                        "
                    >
                        <div
                            style="
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                transition: all 0s ease 0s;
                                width: 490px;
                                height: 94px;
                            "
                        ></div>
                    </div>
                    <div
                        class="resize-sensor-shrink"
                        style="
                            pointer-events: none;
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            right: 0;
                            bottom: 0;
                            overflow: hidden;
                            z-index: -1;
                            visibility: hidden;
                            max-width: 100%;
                        "
                    >
                        <div
                            style="
                                position: absolute;
                                left: 0;
                                top: 0;
                                transition: 0s;
                                width: 200%;
                                height: 200%;
                            "
                        ></div>
                    </div>
                </div>
            </div>

            <div class="d-none" id="minicartEmptyListMsg">
                <div class="container nothing-here">
                    <div class="text-center">
                        <h3 class="title">Nothing here yet</h3>

                        <p class="message">Add some of our awesome products!</p>

                        <a href="/store" class="btn btn-primary">go to store</a>
                    </div>
                </div>
            </div>

            <div class="cart-summary text-center d-none" id="minicartSummary">
                <div class="row">
                    <div class="col-6">Total</div>
                    <div class="col-6 price" id="minicartTotal">$0</div>
                </div>
                <a href="/cart" class="btn btn-primary">Go to checkout</a>
            </div>
            <div class="ui-blocker-container">
                <div class="ui-blocker-overlay"></div>
                <div class="ui-blocker-message-container">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ADD TO CART CONFIRMATION MODAL -->
    <div
        class="modal fade"
        id="addedToCartConfirm"
        role="dialog"
        aria-labelledby="addedToCartConfirm"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <button
                    class="dismiss-btn"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <img src="https://www.motionvfx.com/static/svg/close.svg" />
                </button>

                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">
                        Added to cart
                    </h2>
                </div>

                <div class="modal-body">
                    You added <span id="addedProductName"></span> to your
                    shopping&nbsp;cart.
                </div>

                <div class="modal-footer">
                    <a href="/cart" class="btn btn-primary">Go to cart</a>
                    <br />
                    <div class="text-center">
                        <a
                            class="signup-link btn btn-clear"
                            data-dismiss="modal"
                            >Continue shopping &nbsp;&nbsp;&gt;</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD TO CART CONFIRMATION MODAL -->
    <div
        class="modal fade"
        id="twoProductsAddedToCartConfirm"
        role="dialog"
        aria-labelledby="twoProductsAddedToCartConfirm"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <button
                    class="dismiss-btn"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <img src="https://www.motionvfx.com/static/svg/close.svg" />
                </button>

                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">
                        2 products<br />
                        added to cart
                    </h2>
                </div>

                <div class="modal-body">
                    <span id="dependentProductName"></span> requires
                    <b id="dependencyProductName"></b> to run. Both products
                    were added to cart.
                </div>

                <div class="modal-footer">
                    <a href="/cart" class="btn btn-primary">Go to cart</a>
                    <br />
                    <div class="text-center">
                        <a
                            class="signup-link btn btn-clear"
                            data-dismiss="modal"
                            >Continue shopping &nbsp;&nbsp;&gt;</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ALREADY IN CART CONFIRMATION MODAL -->
    <div
        class="modal fade"
        id="alreadyInCartMsg"
        role="dialog"
        aria-labelledby="alreadyInCartMsg"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <button
                    class="dismiss-btn"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <img src="https://www.motionvfx.com/static/svg/close.svg" />
                </button>

                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">
                        Already in cart
                    </h2>
                </div>

                <div class="modal-body">
                    <span id="alreadyAddedProductName"></span> is already in
                    your shopping&nbsp;cart.
                </div>

                <div class="modal-footer">
                    <a href="/cart" class="btn btn-primary">Go to cart</a>
                    <br />
                    <div class="text-center">
                        <a
                            class="signup-link btn btn-clear"
                            data-dismiss="modal"
                            >Continue shopping &nbsp;&nbsp;&gt;</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- REMOVE FROM CART CONFIRMATION MODAL -->
    <div
        class="modal fade"
        id="removeFromCartConfirm"
        role="dialog"
        aria-labelledby="removeFromCartConfirm"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <button
                    class="dismiss-btn product-remove-cancel"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <img src="https://www.motionvfx.com/static/svg/close.svg" />
                </button>

                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">
                        Warning
                    </h2>
                </div>

                <div class="modal-body">
                    All products in cart (<span
                        id="dependentProductNumber"
                    ></span
                    >) that require <b id="removedProductName"></b> to run will
                    also be deleted.
                </div>

                <div class="modal-footer">
                    <a
                        href="!#"
                        id="productRemoveConfirm"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        >Confirm</a
                    >
                    <br />
                    <div class="text-center">
                        <a
                            class="
                                signup-link
                                btn btn-clear
                                product-remove-cancel
                            "
                            data-dismiss="modal"
                            >Cancel</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a
        id="backToTopBtn"
        class="back-to-top cursor-pointer"
        data-page-reload=""
    ></a>

    <section class="apple_silicon_info" id="silicon_bar" style="">
        <div class="text-box-centered">
            <div class="text-centered">
                <img
                    src="https://www.motionvfx.com/static/images/apple_silicon_logo.png"
                    alt=""
                    width="22"
                    height="24"
                />
                Product <span>compatible</span> with Apple Silicon.
            </div>
        </div>
    </section>
</div>
