    
    {% set product_url = "https://www.motionvfx.com/store,mrestyle,p3572.html" %}
    {% set popup_aria = "mRestyle for Final Cup Pro" %}
    {% set popup_text = "We also have mRestyle for FCP!" %}
    <div class="popup-left" id="popup-tech-spec">
        <div class="close dismiss-button" id="popup-close-button"></div>
        <div class="promo-img">
            <a href="{{product_url}}" target="_blank" rel="noopener noreferrer" aria-label="{{popup_aria}}">
                <picture>
                    <source media=""
                        srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1384/media/box_fcp-360.webp 360w,"
                        type="image/webp"
                    >
                    <img class=""
                        src="https://s3.motionvfx.com/mvfxpublic/products/templates/1384/media/box_fcp-512.jpg"
                        alt=""
                        width="360"
                        height="360"
                        srcset="{{mediaUrl}}/box_fcp-360.jpg 360w,"
                    />
                </picture>
            </a>
        </div>
        <p class="popup-left-title">
            <span>{{popup_text}}</span>
        </p>
        <p class="popup-left-subtitle">
            <a  target="_blank" rel="noopener noreferrer" href="{{product_url}}">Check it out</a>
        </p>
    </div>
    
    {% set product_url = "https://www.motionvfx.com/store,mrestyle-dv,p3710.html" %}
    {% set popup_aria = "mRestyle for DaVinci Resolve" %}
    {% set popup_text = "We also have mRestyle for DVR!" %}
    <div class="popup-left" id="popup-tech-spec">
        <div class="close dismiss-button" id="popup-close-button"></div>
        <div class="promo-img">
            <a href="{{product_url}}" target="_blank" rel="noopener noreferrer" aria-label="{{popup_aria}}">
                <picture>
                    <source media=""
                        srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1384/media/box_dv-360.webp 360w,"
                        type="image/webp"
                    >
                    <img class=""
                        src="https://s3.motionvfx.com/mvfxpublic/products/templates/1384/media/box_dv-512.jpg"
                        alt=""
                        width="360"
                        height="360"
                        srcset="{{mediaUrl}}/box_fcp-360.jpg 360w,"
                    />
                </picture>
            </a>
        </div>
        <p class="popup-left-title">
            <span>{{popup_text}}</span>
        </p>
        <p class="popup-left-subtitle">
            <a  target="_blank" rel="noopener noreferrer" href="{{product_url}}">Check it out</a>
        </p>
    </div>