<div class="submenu-plugins" id="submenu-plugins" style="z-index: 100">
    <div class="submenu-plugins-left-arrow" onclick="clickOnMenuArrow()" ;>
        <img loading="lazy" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1227/media/arrow_submenu_left.svg" loading="lazy" />
    </div>
    <div class="submenu-plugins-left">
        <a id="trailer-menu" onclick="clickOnMenuItem('trailer');">Watch trailer <img loading="lazy" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1227/media/play_menu.svg" /></a>
        <a id="tutorial-menu" onclick="clickOnMenuItem('tutorial');">Watch tutorial <img loading="lazy" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1227/media/play_menu.svg" /></a>
        <a id="tech-sec-menu" onclick="clickOnMenuItem('specs');">Technical Specifications <img loading="lazy" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1227/media/gear_menu.svg" /></a>
    </div>
    <div class="submenu-plugins-right">
        {% with discount_text='INTRO', version=1 %}
            {% include 'product/buy_button.jinja2' %}
        {% endwith %}
    </div>
</div>