$rem: 20px;

$font-size-title: $rem * 2;
$font-size-sub-title: $rem * 1.2;
$font-size-body: $rem * .9;

$font-family-subtitle: 'Roboto', sans-serif;
$font-family-title: 'Montserrat', sans-serif;
$font-family-text: $font-family-subtitle;
$font-family-bigger: $font-family-subtitle;


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0;
  font-family: $font-family-title;
  font-weight: 300;
}

b {
  // font-weight: 500;
}

main {
  font-family: $font-family-text;
  line-height: 1.8;
  font-weight: 300;
  
}

.section {
  &__title {
    // letter-spacing: 1.2px;
    font-size: 2rem;
    font-weight: 700;
    // margin-bottom: .75em;
    line-height: 1.2;
    font-family: $font-family-title;
    text-transform: uppercase;
    // font-style: italic;
    // @include respond-below(sm) {
      // font-size: 1.6rem;
    // }
    // @include respond-below(md) {
    //   font-size: 28px;
    // }
  }

  &__subtitle {
    font-size: .7rem;
    font-weight: 300;
    // margin-bottom: .8rem;
    text-transform: uppercase;
    // letter-spacing: 7px;
    font-family: $font-family-subtitle;
  }

  &__display {
    font-size: 11rem;
    font-weight: 700;
    line-height: 1;
    // font-style: italic;
    font-family: $font-family-title;
    // -webkit-text-stroke-color: #fff;
    // -webkit-text-stroke-width: 2px;
    // color: transparent;
    // @include respond-below(sm) {
    //   font-size: 7rem;
    // }
  }

  &__text {
    font-size: .9rem;
    // margin-bottom: 3rem;
    // font-weight: 300
    // letter-spacing: 2px;
    font-family: $font-family-text;
    line-height: 1.8;
    margin-bottom: 0;
    +& {
      margin-top: 1rem;
    }
    &--inset {
      // @include respond-above(xl) {
      //   padding-left: 6.75rem;
      //   margin-bottom: 0;
      // }
    }
  }
}

.outline {
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}
// .section {
//   &__subtitle {

//   }

//   &__text {

//   }

//   &__subtitle,
//   &__text {
//     opacity: 0;
//     [data-visible="true"] & {
//       opacity: 1;
//     }
//   }
// }