.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  // max-height: 700px !important;
  margin-top: -1px;
  padding-top: 0;
  height: 960px;
  // background: #9aa9ae;
  // @media screen and (max-width: 512px) {
  @include respond-below(md) {
    max-height: 650 !important;
  }

  .image__background--static {
    height: 100% !important;
    img {
      height: 100%;
      // @include respond-below(md) {
      //   object-position: 70% 140px;
      // }
      // @include respond-above(md) {
      //   transform: scale(1.25);
      // }
    }
  }

  &__content {
    position: absolute;
  }

  #btn-buy-container .inner-container.center {
  }

  &__title {
  }

  &__text {
    margin-bottom: 3rem;
  }

  &__deco {
    position: absolute;
    max-width: 400px;

    @media screen and (max-width: 600px) {
      display: none;
    }

    &--1 {
      left: 0;
      bottom: 10vw;
    }

    &--2 {
      right: 21vw;
      top: 2.5vw;
    }
  }
}
