.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  max-height: 950px !important;
  margin-top: -1px;
  padding-top: 0;
  background: #9aa9ae;
  @media screen and (max-width: 512px) {
    max-height: unset !important;
  }

  .image__background--static {
    height: 100%;
    img {
      object-position: top;
      height: 100%;
    }
  }

  &__content {
    position: absolute;
  }

  #btn-buy-container .inner-container.center {
  }

  &__title {
  }

  &__text {
  }

  &__deco {
    position: absolute;
    mix-blend-mode: screen;
    max-width: 400px;

    @media screen and (max-width: 600px) {
      display: none;
    }

    &--1 {
      left: 0;
      bottom: 10vw;
    }

    &--2 {
      right: 21vw;
      top: 2.5vw;
    }
  }
}
