// [name="trailer"] {
//   margin-top: 2rem;
//   @media screen and (max-height: 1020px) {
//     margin-top: 4rem;
//   }
// }

.video {
  text-align: center;
  position: relative;

  .col-md-6 {
    margin-bottom: 30px;
    @include respond-below(md) {
      margin-bottom: 15px;
    }
    + .col-md-6 {
    }
  }

  .container {
    position: relative;
  }

  .image__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  &.trailer {
    padding-bottom: 0;
    // .arrow__deco {
    //   position: absolute;
    //   right: 5vw;
    //   width: 15vw;
    //   bottom: 5vw;
    // }
  }

  &.tutorial {
    z-index: 1;
    // margin-bottom: -12rem;
    // padding-bottom: 0;
    // @media screen and (max-width: 2060px) {
    //   margin-bottom: -6rem;
    // }
    // @media screen and (max-width: 1290px) {
    //   margin-bottom: -3rem;
    // }

    // @media screen and (max-width: 960px) {
    //   // padding-bottom: 2.5rem;
    //   margin-bottom: -.5rem;
    //   padding-top: 0;
    // }
    // margin-bottom: 0;

    padding-bottom: 0;
    margin-bottom: clamp(-10rem, 12%, -5rem);
    // -12.5%;

    .image__background {
      img {
        height: 90%;
      }
    }

    .section {
      &__title {
      }
      &__text {
        // margin-bottom: 4rem;
      }
    }
  }

  // &s__wrapper {
  //   background-image: $cta-gradient;
  //   background-position: center;
  //   background-size: 100% 50%;
  //   background-repeat: no-repeat;
  // }
}
