.promo-grid {
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    position: relative;
    z-index: 3;
    .section {
        &__head {
            padding: 4.5rem 4.5rem 4.5rem 4.5rem;
            @include respond-below(sm) {
                padding: 3rem 10% 3rem 10%;
            }
        }
        &__text {
            margin-bottom: 0;
        } 
    }

    img,
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    > * {
        opacity: 0;
        transform: translateY(2rem);
    }

    &[data-visible=true] > * {
        opacity: 1 !important;
        transform: translateY(0);
    }

    .promo {
        &-1 {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: span 3;
            @media screen and (max-width: 1200px) {
                grid-row-end: 2 ;
            }
            @include respond-below(md) {
                grid-row-start: 1;
                grid-row-end: span 1;
                grid-column-end: span 3;
                
            }
        }
        &-2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            @media screen and (min-width: 1200px) and (max-width: 1700px) {
                grid-column-end: span 3;
            }
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                grid-column-end: span 3;
            }
            @include respond-below(md) {
                grid-row-start: 2;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: span 3;
            }
        }
        &-3 {
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: span 3;
            @media screen and (min-width: 1200px) and (max-width: 1700px) {
                grid-row-start: 2;
                grid-row-end: 3;
            }
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                grid-column-start: 2;
                grid-column-end: span 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            @include respond-below(md) {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 2;
                grid-column-end: 4;
                
            }
        }
        &-4 {
            grid-column: 2;
            grid-row-start: 2;
            grid-row-end: span 2;
            
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                grid-column-start: 1;
                grid-column-end: span 1;
            }
            @include respond-below(md) {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 2;
                
            }
        }
    }
}