body,
main {
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

main {    
    color: #000;
}

section {
    padding: 5rem 0;
    position: relative;

    @include respond-below(md) {
        padding: 4rem 0;
    }

    @include respond-below(sm) {
        padding: 3rem 0;
    }
}

.container {
    max-width: 1280px;
}

.ts-mi {
    padding: 8rem 0;
}

.section {
}
