$rem: 20px;

$font-size-title: $rem * 2;
$font-size-sub-title: $rem * 1.2;
$font-size-body: $rem * 0.9;

$font-family-text: 'Open sans', sans-serif;
$font-family-title: 'Quicksand', sans-serif;
$font-family-subtitle: $font-family-text;
$font-family-title--big: $font-family-title;

@for $var from 1 to 6 {
  h#{$var},
  .h#{$var} {
    line-height: 1.5;
    margin-bottom: 0;
    font-family: $font-family-title;
  }
}

main {
  font-family: $font-family-text;
  font-weight: 400;
  
}

.p {
  font-family: $font-family-text;
  font-weight: 400;
}

main,
.p {
  font-size: 0.9rem;
  @media screen and (max-width: 960px) {
      font-size: 0.875rem;
  }
}

.section {
  &__title {
    // font-size: 1.8rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    font-family: $font-family-title;
    margin-bottom: 1.5rem;
    // letter-spacing: 1px;

    opacity: 0;

    .big {
      font-size: 50px;
    }
  }

  &__subtitle {
    opacity: 0;
    font-size: 0.6rem;
    font-weight: 00;
    text-transform: uppercase;
    font-family: $font-family-subtitle;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    transition:
      opacity .5s ease-in-out,
      transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .initialized [data-visible="true"] &,
    .loaded & {
      opacity: 1 !important;
      transform: translateY(0px);
    }
  }

  &__display {
    font-size: 11rem;
    font-weight: 900;
    line-height: 1;
    font-family: $font-family-title--big;
  }

  &__text {
    font-family: $font-family-text;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.6;

    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity .5s ease-in-out,
      transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .initialized [data-visible="true"] &,
    .loaded & {
      opacity: 1 !important;
      transform: translateY(0px);
    }

    + .section__text {
      margin-top: 30px;
    }

    &--inset {
      @include respond-above(xl) {
        padding-left: 2.5rem;
      }
    }
  }
}

// .outline {
//   -webkit-text-stroke-color: #fff;
//   -webkit-text-stroke-width: 1px;
//   color: transparent;
// }
// .section {
//   &__subtitle {

//   }

//   &__text {

//   }

//   &__subtitle,
//   &__text {
//     opacity: 0;
//     [data-visible="true"] & {
//       opacity: 1;
//     }
//   }
// }
