$rem: 20px;

$font-size-title: $rem * 2;
$font-size-sub-title: $rem * 1.2;
$font-size-body: clamp(0.875rem, 3vw, 0.9rem);

$font-family-text: 'Nunito Sans', sans-serif;
$font-family-title: 'Khand', sans-serif;
$font-family-subtitle: $font-family-text;
$font-family-title--big: $font-family-title;

@for $var from 1 to 6 {
  h#{$var},
  .h#{$var} {
    line-height: 1.5;
    margin-bottom: 0;
    font-family: $font-family-title;
  }
}

main {
  font-family: $font-family-text;
  font-weight: 400;
  
}

.p {
  font-family: $font-family-text;
  font-weight: 400;
}


main,
.p {
  font-size: $font-size-body;
}

.section {
  &__title,
  &__title-2 {
    // font-size: 1.8rem;
    // font-size: 36px;
    font-size: clamp(2rem, 3.5vw, 3rem);
    font-weight: 700;
    line-height: 1.2;
    font-family: $font-family-title;
    margin-bottom: .7rem;
    letter-spacing: 3px;
    text-transform: uppercase;

    opacity: 0;

    [data-visible="true"] & {
      opacity: 1;
    }

    .front {
      font-family: $font-family-text;
      text-shadow: 0 0 6px black;
      font-weight: 600;
      font-size: 0.23em;
      letter-spacing: 1px;
      display: block;
      margin-bottom: 1em;
      &--inline {
        display: inline;
      }
    }

    section.trailer & {
      opacity: 1 !important;
      transform: none;
      transition: none !important;
      * {
        opacity: 1 !important;
        transition: none !important;
      }
    }
  }

  &__subtitle {
    opacity: 0;
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $font-family-subtitle;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    transition:
      opacity .5s ease-in-out,
      transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    [data-visible="true"] &,
    .loaded & {
      opacity: 1 !important;
      transform: translateY(0px);
    }

    section.trailer & {
      opacity: 1 !important;
      transform: none;
      transition: none !important;
      * {
        opacity: 1 !important;
        transition: none !important;
      }
    }
  }

  &__display {
    font-size: 11rem;
    font-weight: 900;
    line-height: 1;
    font-family: $font-family-title--big;
  }

  &__text {
    font-family: $font-family-text;
    font-weight: 400;
    font-size: $font-size-body;
    // font-size: 18px;

    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity .5s ease-in-out,
      transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    [data-visible="true"]:not(.header) &,
    .loaded & {
      opacity: 1;
      transform: translateY(0px);
    }

    + .section__text {
      margin-top: 30px;
    }

    &--inset {
      @include respond-above(xl) {
        padding-left: 2.5rem;
      }
    }

    section.trailer & {
      opacity: 1 !important;
      transform: none;
      transition: none !important;
      * {
        opacity: 1 !important;
        transition: none !important;
      }
    }
  }
}
