%ma {
    margin-left: auto;
    margin-right: auto;
}

.section {
    &__content {
    }
    &__head {
        .video & {
            @extend %ma;
            max-width: 460px;
        }

        .promo & {
            // max-width: 500px;
        }

        .promo-phone & {
            @extend %ma;
            // max-width: 430px;
        }

        .promo-carousel-flat & {
            // @extend %ma;
            // max-width: 500px;
        }

        .footer & {
            @extend %ma;
            max-width: 600px;
        }
    }
    &__title {
        .promo-phone & {
            @extend %ma;
            // max-width: 400px;
        }

        .promo-laptop & {
            // @extend %ma;
            max-width: 300px;
            margin-bottom: 3rem;
        }


        .promo-carousel-flat & {
            @extend %ma;
            // max-width: 350px;
        }
    }

    &__text {
        .trailer & {
            @extend %ma;
            max-width: 290px;
        }
        .tutorial & {
            @extend %ma;
            max-width: 300px;
        }
        .promo-phone & {
            max-width: 370px;
        }
        .promo-laptop & {
            &:nth-of-type(2) {
                max-width: 300px;
            }
            &:nth-of-type(3) {
                max-width: 250px;
            }
            &:nth-of-type(4) {
            }
        }
        .promo-carousel-flat & {
            max-width: 420px;
        }

        .footer & {
            @extend %ma;
            max-width: 230px;
        }
    }
}

footer.footer {
}
