%ma {
    margin-left: auto;
    margin-right: auto;
}

section {
    &.trailer {
        .section {
            &__text {
                @extend %ma;
                max-width: 440px;
            }
        }
    }

    &.tutorial {
        .section {
            &__text {
                @extend %ma;
                max-width: 400px;
            }
        }
    }

    &.counters {

    }

    &.slider {
        .section {
            &__content {
                padding-top: 3rem;
            }
            &__title {
                max-width: 500px;
                margin-bottom: 2rem;
            }
        }
    }

    &.prevs {
    }
    &.prevs-after {
        .section {
            &__title {
                max-width: 500px;
            }
            &__text {
                max-width: 432px;
            }
        }
    }
}

.footer {
    .section {
        &__text {
            @extend %ma;
            max-width: 612px;
        }
    }
}