<div id="btn-buy-container" class="version2">
    <div class="inner-container center">
        <a href="#"
           class="buy-button"
           data-add-to-cart="{ &quot;productId&quot;: &quot;3726&quot;, &quot;productTitle&quot;: &quot;mTracker 3D Neon Pack&quot; }">
            buy now <del class="price-crossed"> $59</del> <span class="price">$49</span></a>
            <div class="promo-container">
                <span class="promo-label mr-10"> INTRO</span>
                <div class="promo-info promo-info-inline" style="color:#fff">
                    <span> Hurry up!</span> Valid till February 28, 2022
                </div>
            </div>
        </div>
    </div>
   
</div>