<div id="btn-buy-container" class="version1">
    <div class="inner-container">
        <span class="promo-label mr-10"> INTRO</span>
        <div class="buy-button-column">
            <a href="#" class="buy-button" data-add-to-cart="{ &quot;productId&quot;: &quot;3753&quot;, &quot;productTitle&quot;: &quot;mTutorial DV&quot; }">
                Buy now <del class="price-crossed"> $99</del> <span class="price">$75</span></a>
            <div class="promo-info" style="color:#fff"><span> Hurry up!</span> Valid till March 28, 2022</div>
        </div>
    </div>
</div>
