{% macro music_info(music) %}
    {% set url = '' %}
    {% if music.music_portal.name == "www.premiumbeat.com" or music.music_portal.name ==  "www.shutterstock.com" %}
    {% set url = music.url %}
    {% elif music.music_portal.name == "epidemicsound.com" %}
    {% set url = "https://www.epidemicsound.com/campaign/invite-a-creator/?_us=Referral&_usx=3zpfqv" %}
    {% endif %}
    {% set portal_name = music.music_portal.name | replace('www.','') | lower %}
    
    {% if url != '' %}
        <a class="music-portal" href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ portal_name }}</a>
    {% else %}
        <span class="music-portal">{{ portal_name }}</span>
    {% endif %}

    <span class="separator"> — </span>
    <span class="music-title">{{ music.title.replace(' - ', ' — ') }}</span>
{% endmacro %}

{% for music in musics %}
    <div>{{ music_info(music) }}</div>
{% endfor %}
