body,
main {
  
  // color: #fff;
}

main {
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
  font-size: .9rem;
  @media screen and (max-width: 960px) {
    font-size: 0.875rem;
  }
}

section {
  padding: 5rem 0;

  @include respond-below(md) {
    padding: 4rem 0;
  }

  @include respond-below(sm) {
    padding: 3rem 0
  }
}

.section {
  &__head {
    // &--grid {
    //   display: grid;
    //   grid-template-columns: 1fr;

    //   @include respond-above(md) {
    //     grid-template-columns: 1fr 1fr;
    //   }

    //   @include respond-below (md) {
    //     justify-items: center;
    //     & > * {
    //       grid-column: 1 !important;
    //       text-align: center !important;
    //       margin-left: unset !important;
    //     }
    //   }
      
    //   .section__title {
    //     text-align: right;
    //     margin-left: auto;
    //   }
    //   .section__text {
    //     grid-column: 2;
    //     text-align: left;
    //     grid-row: 2;
    //   }

    //   &--inversed {
    //     .section__title {
    //       grid-column: 2;
    //       text-align: left;
    //     }
    //     .section__text {
    //       grid-column: 1;
    //       text-align: right;
    //       margin-left: auto;
    //     }
    //   }
    // }
  }
  &__title {
    @include respond-below(sm) {
      font-size: 34px;
    }
  }
  &__content {
    @media screen and (max-width: 1920px) {
      padding: 0 calc(10% - 15px);
    }
  }
}

.container {
  max-width: 1280px;
}

.deco {
  position: absolute;
}

.ts-mi {
  padding: 8rem 0;
}

section {
  // .header {

    &.header {
      @include respond-below(sm) {
        .header__content {
          margin-top: 6rem;
        }
      }
    }


  // }
  &.trailer {
    z-index: 12;
    @include respond-below(sm) {
      // padding-top: 5rem;
    }
  }
  &.tutorial {
    // padding-bottom: 2rem;
    z-index: 11;
    .image__background {
      img {
        width: auto;
        top: 0;
        right: 0;
        left: unset;
        bottom: unset;
        object-fit: contain;
        width: 37%;
        max-width: 100%;
        object-position: top right;
      }
    }
    @include respond-below(md) {
      padding: 3rem 0 3rem 0;
    }
  
    @include respond-below(sm) {
      // padding: 3rem 0 1rem 0;
    }
  }
  &.promo-carousel {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;

    @include respond-below(xl) {
      // margin-top: 3rem;
      color: #000;
      .promo-carousel__content {
        grid-row: 3;
        margin-bottom: 0;
        
        .section {
          &__subtitle {
            order: 1;
          }
          &__head {
            justify-content: flex-start;
          }
          &__title {
            margin-bottom: 2rem;
            order: 2;

          }
          &__text {
            order: 3;
            margin-bottom: 0;
          }
        }
        .carousel-indicators {
          order: 0;
          padding-left: 0;
          margin-left: -25px;
          margin-bottom: 1rem;
          // background: #000;
        }

        .carousel-indicators__item {
          &::before {
            $glowColor: #000;
            background: $glowColor;
            // box-shadow:
            //   0 0 0.025em #fff,
            //   0 0 0.05em #fff,
            //   0 0 0.1em $glowColor,
            //   0 0 0.2em $glowColor,
            //   0 0 0.25em $glowColor,
            //   0 0 0.75em $glowColor,
            //   0 0 1.25em $glowColor,
            //   0 0 1.75em rgba(255, 255, 255, 50%);
          }
        }
      }
    }
  }

  &.promo-comp-0 {
    .section__title {
      max-width: 5em;
    }

    @media screen and (max-width: 1400px) {
      padding-top: 6rem;
      .promo-comp-0__mosaic {
        margin-right: 0;
      }
      .mosaic__item--11 {
        display: none;
      }
      .section__head {
        margin-top: 5rem;
        margin-bottom: 0;
      }
      .mosaic__item--21 {
        margin-left: -110px;
        margin-top: 10px;
      }
    }

    @media screen and (max-width: 1200px) {
      .promo-comp-0__mosaic {
        flex-direction: column-reverse;
        // border: 1px solid red;
        // text-align: center;
        margin: 0 auto;
        // max-width: calc(100% - 3rem);
      }
      .section__head {
        // margin: 0 ;
        padding: 0 calc(10%);
      }
      .section__title {
        max-width: 9em;
      }
      .mosaic__side {
        padding: 0;
        width: 100%;
      }
      .section__head {
        margin-top: 0;
      }
      .mosaic__item--21 {
        // display: none;
        margin: 0 5%;
      }

      .mosaic__item--12 {
        // display: none;
        margin: -5rem 5% 0;
        // margin: 0 auto;
        // width: 100%;
        // max-width: unset;
        // max-height: 400px !important;
        // img {
        //   height: 200px;
        // }
      }
    }

    @media screen and (max-width: 750px) {
      padding-top: 4rem;
      padding-bottom: 0;
      .mosaic__item--21 {
        margin: 0;
        // width: 100vw;
        max-width: unset;
      }
      .mosaic__item--12 {
        display: none;
      }
    }
  }

  &.promo-comp-1 {

    @media screen and (max-width: 1400px) {
      grid-template-columns: 1fr 1fr;
      
      .comp__item--0 {
        max-width: unset;
        margin: 0;
      }
      .section__head {
        padding-left: 10%;
        align-self: center;
      }
      .section__text {
        left: 0;
        margin-bottom: 0;
        // max-width: 370px;
        position: static;
        top: 0;
        margin-left: 2.5rem;
      }

      .comp__item--1 {
        display: none;
      }

      .comp__item--2 {
        grid-column: 1;
        margin-top: 0;
        justify-self: end;
        margin-top: 2rem;
      }

      .comp__item--3 {
        grid-column: 2;
        grid-row: 1/span 2;
        justify-self: start;
        margin-right: 0;
        margin-left: -5%;
        margin-top: 0;
        max-width: 1150px;
        z-index: 0;
      }
    }

    @media screen and (max-width: 1060px) {
      text-align: center;
      .comp__item--0 {
      }
      .section__head {
        margin: 0 auto;
        padding: 0 10%;
        grid-column: 1 / span 2;
        align-self: flex-start;
        // padding-left: 0;
        justify-self: auto;
        margin-bottom: 2rem;
        max-width: 750px;
      }
      .section__text {
        margin-left: 0;
        max-width: unset;
      }
      .comp__item--2 {
        // display: none;
        align-self: center;
        margin-right: 5%;
        // max-width: 50%;
        width: 35vw;
      }
      .comp__item--3 {
        grid-row: 2;
        margin-left: -25%;
        margin-right: 25%;
      }
    }

    @media screen and (max-width: 680px) {
      margin-top: 0;
      .comp__item--2 {
        display: none;
      }
      .comp__item--3 {
        margin: 0;
        grid-column: 1 / span 2;
      }
    }

  }

  &.tech-spec {
    .section__title {
    }
  }

  &.prevs {
    // @include respond-below(sm) {
    //   padding-top: 0;
    // }
    padding-bottom: 0;
    .prevs__bottom {
      position: relative;
      .image__background {
        img {
          // top: -30%;
          height: auto;
          display: block;
          object-fit: cover;
          @include respond-below(lg) {
            // padding: 100px 0;
            min-height: 600px;
          }
        }
      }
      .section__head {
        padding: clamp(100px, 30%, 400px) 0;
        @include respond-below(xxl) {
          padding: clamp(100px, 15%, 400px) 0;
        }
        @include respond-below(xl) {
          padding: 100px 0;
          text-align: center;
          > * {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}