.header {
    position: relative;
    img {
        transition: opacity 0.5s ease-in-out;
    }
    color: #fff;
    text-align: center;
    overflow: visible;
    // padding-bottom: 100px;
    .section {
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: -3rem;
        }
        &__text {
            font-weight: 300;
            // text-transform: uppercase;
            // font-size: 1rem;
            color: #fff;
            letter-spacing: 1px;
            margin-top: .5rem;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-family: $font-family-title;
            font-weight: 400;
            // font-size: .9rem;
        }
    }
    &__logo {
        // &::after {
        //     position: absolute;
        //     content: '';
        //     z-index: -1;
        //     inset: -30%;
        //     // background: radial-gradient(
        //     //     rgba(#000, .5) 15%,
        //     //     transparent 50%
        //     // );
        // }
        // h2 {
        //     font-family: $font-family-title;
        //     font-weight: 300;
        //     line-height: 1;
        //     font-size: clamp(1.65rem, 8vw, 2.25rem);
        //     margin-bottom: 2rem;
        // }

        // .word:last-child() {
        //     margin-left: .15em;
        //     display: block;
        //     font-size: 2.65em;
        //     letter-spacing: .25em;
        // }
        margin-bottom: 0rem;
        // img {
        //     height: auto;
        //     // max-width: 312px;
        //     width: clamp(280px,40vw,500px);
        // }

    }

    .logo-top {
        font-size: clamp(1.1rem, 5vw, 2rem);
        .logo-first {
            display: block;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-size: .9em;
            line-height: 1;
        }
    
        .logo-color {
            color: $color-cta;
        }
        
        .logo-big {
            line-height: 1;
            letter-spacing: .1em;
            display: block;
            font-size: 2.1em;
            font-weight: 900;
        }
    }


    #software-icons {
        bottom: clamp(1rem, 10vw, 6rem);
        @media screen and (min-width: 480px) {
            bottom: clamp(1rem, 20vw, 6rem);
        }
    }

    .image__background {
        // z-index: 0;
        background: #000;
        background:
            radial-gradient(
                ellipse farthest-corner at 50% 110%,
                #D2AC4376 0%,
                #4C0F05 70%
            ),
            radial-gradient(
                ellipse farthest-corner at -50% 20%,
                #D2AC4376 0%,
                #4C0F05 50%
            ),
        #000;

        // img {
        //     top: 100px;
        //     object-position: top;
        //     height: calc(100% - 100px);
        //     @media screen and (max-width: 768px) {
        //         top: 100px;
        //     }
        // }
    }

    .fcp {
        position: absolute;
        bottom: 1rem;
    }

    .actors {
        position: absolute;
        z-index: 1;
        display: flex;
        width: 100%;
        bottom: 4.5%;
        justify-content: space-evenly;
        max-width: 900px;
        font-size: .6rem;
        font-family: 'Castoro', serif;
        font-weight: 400;
        text-transform: uppercase;
        left: 50%;
        transform: translateX(-51%);
        text-shadow: 0px 0px 10px #00000050;

        .actor {
            &:nth-child(3) {
                @media screen and (max-width: 360px) {
                    display: none;
                }
            }

            &:nth-child(4) {
                @media screen and (max-width: 560px) {
                    display: none;
                }
            }

            &:nth-child(5) {
                @media screen and (max-width: 560px) {
                    display: none;
                }
            }

            &__name {
                font-size: .6em;
                letter-spacing: .5em;
            }

            &__surname {
                font-size: 1em;
                letter-spacing: .3em;
            }
        }
    }

    #software-icons {
        @media screen and (max-width: 480px) {
            bottom: 15%;
        }
    }
}

section.header {
    position: relative;

    $min-height: 800px;
    $max-height: 860px;

    $min-content-height: 160px; /* set to height of the portion of the first section within which content is comfortably visible */
    $scroll-prompt-height: 34px;
    $scroll-prompt-margin: 0px;
    $scroll-prompt-margin-min: 10px;
    $scroll-prompt-height-total: $scroll-prompt-height + 2 *
        $scroll-prompt-margin-min;

    min-height: $min-height; /* might adjust per plugin */
    @media screen and (max-width: 768px) {
        min-height: 560px
    }
    max-height: $max-height;
    height: calc(100vh - #{$min-content-height});

    // .scroll-prompt {
    //   margin-top: $scroll-prompt-margin;
    // }

    @media (max-height: ($min-height + $min-content-height)) {
        // height: calc(100vh - #{$scroll-prompt-height-total}); /* accomodate scroll prompt */
        max-height: unset;
    }
    $break1: $min-height + $scroll-prompt-height + 2 * $scroll-prompt-margin;
    $break2: $min-height + $scroll-prompt-height + 2 * $scroll-prompt-margin-min;

    @media (max-height: $break1) {
        .scroll-prompt {
            margin-top: calc(0.5 * 100vh - 342px);
        }
    }
    @media (max-height: $break2) {
        height: 100vh;
        max-height: unset;
        .scroll-prompt {
            display: none;
        }
    }
    @media (min-height: $max-height + $min-content-height) {
        .scroll-prompt {
            display: none;
        }
    }

    @media (max-width: 480px) {
        height: 13 / 9 * 100vw;
        /* not 100vh to avoid content jump on scroll on mobile Chrome and Firefox */
    }
}

section.header {
    position: relative;
    .container-fluid {
        height: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10vw;
    }
}

// .image-background {
//     background-color: #000;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     .img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }

$animation-duration: 0.5s;
$animation-delay-offset: 200ms;

.dr-gradient,
.header__deco,
.header__bg {
    opacity: 1;
    will-change: opacity;
    transition: opacity $animation-duration linear;
    transition-delay: calc(0ms + (#{$animation-delay-offset} * var(--h-index)));
}

.header__logo,
.header__subtitle,
.header__deco,
.header__text,
.actor {
    opacity: 0;
    transform: translateY(-10px) scale(1.1);
    will-change: opacity, transform;
    transition: transform $animation-duration cubic-bezier(0.3, 0, 0.3, 1),
        opacity $animation-duration linear;
    transition-delay: calc(0ms + (#{$animation-delay-offset} * var(--h-index)));
}

.dr-gradient {
    &::after {
        // transform: translateY(-20px);
        // opacity: 0;
    }
}

.header.loaded {
    // &-primary {
    //     .header__logo {
    //         img {
    //             opacity: 1 !important;
    //         }
    //     }
    
    //     .fcp {
    //         opacity: 1;
    //     }
    // }

    
    &-secondary {
        // #software-icons>* {
        //     opacity: 1;
        // }
        .section {
            &__text {
                opacity: 1;
                transform: translateY(0) scale(1);
            }
        }
        .header {
            &__bg {
                opacity: 1;
            }
            
            &__logo {
                opacity: 1;
                transform: translateY(0) scale(1);
                // transform: scale(1);
            }
        }

        .actor {
            opacity: 1;
        }

        #software-icons > * {
            opacity: 1 !important;
        }
    }

    // .header__logo,
    // .header__subtitle,
    // .header__deco,
    // .header__bg {
    //     transform: translateY(0) scale(1);
    //     opacity: 1;
    // }
    // + .dr-gradient {
    //     opacity: 1;
    //     &::after {
    //         opacity: 1;
    //     }
    // }

    // .comp-img {
    //     opacity: 1;
    // }
}
