.minstaller {
  &__section {
    position: relative;
    // padding: 0 5% 4rem 5%;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;
    @media screen and (max-width: 960px) {
      // padding: 0 5% 0rem 5%;
    }
    @media screen and (max-width: 420px) {
      // padding: 0 2% 0 2%;
    }
  }
  text-align: center;
  &__title {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-family: 'Proxima', sans-serif;
    text-transform: unset;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 500;
  }

  &__description {
    max-width: 50%;
    margin: 0 auto;
    max-width: 430px;
    // font-family: 'Proxima', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    // font-weight: 300;
    // font-size: 18px;
    line-height: 1.6;
    a {
      color: #0071eb;
    }
  }
}
