.minstaller {
  &__section {
    position: relative;
    padding: 0 5%;
    background-color: transparent;
  }
  text-align: center;
  &__title {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-family: 'Proxima', sans-serif;
    text-transform: unset;

    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 500;
  }

  &__description {
    max-width: 50%;
    margin: 0 auto;
    max-width: 450px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    line-height: 1.6;
    // a {
    //   // color: #3d98ff;
    // }
  }
}
