.tech-spec {
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 400;

    &__title {
        margin-bottom: 3rem;
        @media screen and (max-width: 450px) {
            text-align: left;
            align-items: flex-start;

            margin-bottom: 1.8rem;
        }
    }

    &__table {
        width: 100%;
        td {
            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .tech-spec-info {
        text-align: center;
        position: relative;
        h2 {
        }
    }
}

.t {
    &table {
        display: flex;
        flex-wrap: wrap;
    }
    &row {
    }
    &cell {
        h3 {
            font-weight: 400;
        }
        flex: 1;
        flex-basis: 50%;
        padding: 0 1rem 1rem 1rem;
        @media screen and (max-width: 450px) {
            flex-basis: 100%;
            padding-left: 0;
        }
    }
    &label {
        text-align: right;
        color: #757575;
        @media screen and (max-width: 450px) {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            text-align: left;
            padding-bottom: 0;
        }
    }
    &data {
        text-align: left;
        max-width: 50%;
        span {
            display: inline-block;
            max-width: 25em;
        }
        @include respond-below(md) {
            max-width: 100%;
        }
    }
}


.ts-mi {
  position: relative;
  // background-color: #9aa9ae;
  // max-height: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  position: relative;
  // @media screen and (max-width: 960px) {
  //   padding-bottom: 0;
  // }

  .container {
    position: relative;
  }

  // .deco {
  //   position: absolute;
  //   left: 70%;
  //   bottom: -180px;

  //   @media screen and (max-width: 1300px) {
  //     display: none;
  //   }

  //   img {
  //     max-width: 600px;
  //     width: 50vw;
  //     height: auto;
  //   }
  //   @media screen and (min-width: 2000px) {
  //     left: unset;
  //     right: 6vw;
  //   }
  //   @media screen and (max-width: 1700px) {
  //     left: 70%;
  //     right: unset;
  //     bottom: 0px;
  //     img {
  //       max-width: 400px;
  //     }
  //   }
  // }

  @include respond-below(md) {
    padding-top: 2rem;
    padding-bottom: 0;

    .tech-spec {
      margin-bottom: 2rem;
    }

    .minstaller {
      margin-bottom: 1rem;
    }
  }
}
