
%ma {
    margin-left: auto;
    margin-right: auto;
}
section {
    &.header {
        .header__subtitle {
            // max-width: 30em;
        }
    }

    &.trailer {
        .section__text {
            @extend %ma;
            max-width: 24em;
        }
    }
    &.tutorial {
        .section__text {
            max-width: 28em;
            margin: auto;
        }
    }

    &.promo {
        .section__head {
            max-width: 20em;
            // @include respond-below(lg) {
            //     max-width: unset;
            // }
        }

        &--workflow {
            .section__title {
                max-width: 10em;
            }
        }
    }
}

footer.footer {
    .section {
        &__title {
        }
        &__text {
            max-width: 31em;
            // @include respond-below(md) {
            @media screen and (max-width:752px) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    
}
