
%ma {
    margin-left: auto;
    margin-right: auto;
}
section {
    &.header {
        .header__subtitle {
            // max-width: 17em;

        }
    }

    &.trailer {
        .section {
            &__title {
                // max-width: 380px
            }
            &__text {
                @extend %ma;
                max-width: 490px;
            }
        }
    }
    &.tutorial {
        .section__text {
            @extend %ma;
            max-width: 490px;
        }
    }

    &.promo-carousel {
        .section {
            &__title {
                max-width: 510px;
            }
            &__text {
                max-width: 620px;
            }
        }
    }

    &.promo-slider {
        .section {
            &__title {
                // max-width: 500px;
            }
            &__text {
                // max-width: 30em;
            }
        }
    }

    .prevs {
        &__top {
            .section {
                &__title {

                }
                &__text {
                    @extend %ma;
                    max-width: 340px;
                    margin-bottom: 3rem;
                }
            }
        }
        &__bottom {
            .section {
                &__title {
                    max-width: 530px;
                }
                &__text {
                    // @extend %ma;
                    max-width: 530px;
                }
            }
        }
    }
}

footer.footer {
    .section {
        &__title {
            // @extend %ma;
            // max-width: 450px;
        }
        &__text {
            @extend %ma;
            max-width: 500px;
        }
    }
    
}
