.video {
  text-align: center;
  z-index: 1;
  padding-bottom: 0;

  .section {
    &__title {
      // margin-bottom: clamp(3rem, 10vw, 5rem);
      // margin-bottom: 2rem;
    }
    &__content {
      margin-bottom: $section-padding-y;
    }
  }

  &.trailer,
  .tutorial {
  }
  
  &.trailer {
    // margin-bottom: clamp(3rem, 20vw, 6rem);
  }

  &.tutorial {
    // padding-top: 3rem;
    // margin-bottom: clamp(3rem, 10vw, 5rem);
    // margin-bottom: 2rem;
  }
}
