.video {
    text-align: center;
    z-index: 1;
    padding-bottom: 0;

    .section {
        &__text {
            margin-bottom: $section-padding-y;
        }
        &__title {
            // margin-bottom: 2rem;
        }
    }

    &.trailer,
    .tutorial {
    }

    &.trailer {
        // margin-bottom: clamp(3rem, 20vw, 6rem);
    }

    &.tutorial {
        .image__background {
            img {
                object-position: center 100px;
                @media screen and (min-width: 640px) {
                    object-position: center;
                }
            }
        }
        // padding-top: 3rem;
        // margin-bottom: $section-padding-y;
        // margin-bottom: 2rem;
    }
}
