@import "abstract/abstract";

// UTILS
@import "utils/utils";
@import "utils/shadows";
@import "utils/bg";

// BASE
@import "base/fonts";
@import "base/containers";
@import "base/text-size";

// COMPONENTS
@import "components/button";
@import "components/image-background";
@import "components/splitting";
@import "components/scroll-to-btn";
@import "components/scroll-prompt";
@import "components/decos";

@import "components/carousel";
// @import './components/slider-continous';

// LAYOUT
@import "layout/header";
@import "layout/video";
@import "layout/compatible-software";
@import "layout/promo";
@import "layout/prevs";
@import "layout/tech-spec";
@import "layout/minstaller";
@import "layout/footer";

// ANIMATIONS
@import "animations/animations";

// DVR
// .academy-link {
//   // margin: 2rem auto .5rem auto;
//   padding: 0 clamp(2em, 10vw, 10em);
//   // letter-spacing: 1px;
//   font-size: 0.9rem;
//   a {
//     transition: color 0.15s;
//     text-decoration: underline;
//     color: white;
//     &:hover {
//       color: #3d98ff;
//     }
//   }
// }

.magicSlider {
    user-select: none;
    position: relative;
    height: clamp(100vw/6, 50vh, 60vw);
  }
  .magicSlider .slides {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    left: 50%;
    right: 50%;
  }
  .magicSlider .slide {
    pointer-events: none;
    height: clamp(100vw/6, 50vh, 60vw);
    width: clamp(100vw/6, 50vh, 60vw);
    position: absolute;
  }
  .magicSlider .slide img {
    height: 100%;
    width: auto;
  }
  .magicSlider .slide.active {
    z-index: 1;
  }

.lazy-show {
  opacity: .1;
  transition: opacity .5s ease;
  &__active {
    opacity: 1;
  }
}