<!DOCTYPE html>
<html lang="en">
{% include './components/head.jinja' %}

<body>
    {% include './components/nav.jinja' %}
    {# {% include './components/macro.jinja' %} #}
    {# {% include './components/bundle-popup.jinja' %} #}

    {% macro picture(
		media_url, filename, media_files={}, file_sizes=[360, 480, 640, 960], formats=['webp','jpg'], media_sizes='', media='', alt='', img_class='', img_style='', picture_class='', width='', height='', loading='', data_src=False
	) %}
		<picture class="{{ picture_class }}">
			{% for media in media_files %}
				{% set m = media_files[media] %}
				{% for format in formats %}
					<source {% if data_src %} data-srcset=" {% for size in m['file_sizes'] %} {{ media_url }}/{{ m['filename'] }}-{{ size }}.{{ format }} {{size}}w, {% endfor %}" {% else %} srcset=" {% for size in m['file_sizes'] %} {{ media_url }}/{{ m['filename'] }}-{{ size }}.{{ format }} {{size}}w, {% endfor %}" {% endif %} type="image/{{ format | replace('jpg', 'jpeg') }}" sizes="{{ m['media_sizes'] | default(media_sizes) }}" media="{{ media }}" >
				{% endfor %}
			{% endfor %}
			{% for format in formats %}
				<source {% if data_src %} data-srcset=" {% for size in file_sizes %} {{ media_url }}/{{ filename }}-{{ size }}.{{ format }} {{size}}w, {% endfor %}" {% else %} srcset=" {% for size in file_sizes %} {{ media_url }}/{{ filename }}-{{ size }}.{{ format }} {{size}}w, {% endfor %}" {% endif %} type="image/{{ format | replace('jpg', 'jpeg') }}" sizes="{{ media_sizes }}" media="{{ media }}">
			{% endfor %}
			<img {% if data_src %} data-src="{{ media_url }}/{{ filename }}-{{ file_sizes[0] }}.{{ formats[-1] }}?{{file_version}}" {% else %} src="{{ media_url }}/{{ filename }}-{{ file_sizes[0] }}.{{ formats[-1] }}?{{file_version}}" {% endif %} alt="{{alt}}" class="{{img_class}}" style="{{img_style}}" width="{{width}}" height="{{height}}" loading="{{loading}}" >
		</picture>
	{% endmacro %}
    {% macro buy_btn_free() %}
    <div class="button-buy">
        <div id="btn-buy-container" class="version1">
            <div class="inner-container">
                <a href="#" class="buy-button" data-add-to-cart='{ "productId": {{  product.id }}, "productTitle": "{{  product.title }}" }'>
                    Get it free for FCP / DVR
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

		{% set srcsetSizesMobile = [ 640, 960 ] %}
		{% set srcsetSizesDesktop = [ 1280, 1920, 2560 ] %}
		{% set srcsetSizes = srcsetSizesMobile + srcsetSizesDesktop %}

		{% set template_id = "1437" %}
		{# {% set template_id_s3 = "200" %} #}
        {# {% set media_prefix = "mVertical" %} #}
		{% set media_url = "https://s3.motionvfx.com/mvfxpublic/products/templates/%s/media" % template_id %}
		{# {% set media_prefix_s3 = "https://s3.motionvfx.com/mvfxpublic/products/templates/%s/media" % template_id_s3 %} #}
		{# {% set media_prefix_presets = media_prefix + "/presets" %} #}
		{% set version = "v=0" %}


    {% set product_name = 'mVertical' %}
    {% set shared_media_template_id = '1408' %}
    {% set shared_media_url = 'https://s3.motionvfx.com/mvfxpublic/products/templates/%s/media' % (shared_media_template_id) %}
    {% set product_id_fcp = 3698 %}
    {% set product_id_dvr = 3727 %}
    {% set twin_product_id = product_id_fcp %}
    {# {% set product_fcp, product_dvr = get_products([product_id_fcp, product_id_dvr]) %} #}
	{% set product_fcp, product_dvr = [product, product] %}
    
    {% set software_versions = [
        {
            'name': ['FCP', 'Final Cut Pro'],
            'images': ["box_fcp", "fcp_icon"],
        },
        {
            'name': ['DV', 'DaVinci Resolve'],
            'images': ["box_dvr", "dvr_icon"],
        },
    ] %}
    {#{% for sv in software_versions %}
        {{ sv.product.set_btn_title("%s for %s" % (product_name, sv.name[0]))|default("", True) }}
    {% endfor %}#}
    {% set products = software_versions|map(attribute="product") %}
    {% set live = True %}


    {% set data = {
        'header': {
            'subtitle': 'Free Vertical Video Adjustment Plugin for DaVinci Resolve'
        },
        'trailer': {
            'subtitle': 'See how it works!',
            'title': 'Watch trailer',
            'text': 'Get a picture of how excellent your vertical footage can fit in your edits!'
        },
        'tutorial': {
            'subtitle': 'Use it to the fullest!',
            'title': 'Watch tutorial',
            'text': 'Learn to put all the available features to good use and refine your workflow.'
        },
        'promo': {
            'title': 'Virtual Camera Rig for FCP & DVR',
            'text': '<b>mCamRig</b> allows you to easily create dynamic camera animation right inside Final Cut Pro and DaVinci Resolve.'
        },
        'columns': {
            'title': 'Surprisingly Powerful',
            'text': 'Animate pans, zooms, dollies and other camera properties without any keyframes.'
        },
        'footer': {
            'title': 'Effortless animation',
            'text': '<b>mCamRig</b> plugin is a must-have for every editor who wants to add some space to the project. Without hours of arduous keyframing you can now achieve a swift camera movement and present your footage from different angles. For free!'
        }
    } %}

	{% set trailer_id = 'pTErnX0Cxh4' %}
    {% set tutorial_id = 'u1KXprZ5Ja0' %}
    {# {% set tutorial_id1 = 'VE1M4ReO7T8' %} #}

    <main class="camrig mplugs154">

        <section class="header">
            <div class="image__background header__bg">
                {{picture(
                    media_url=media_url,
                    filename= 'bg_01' ,
                    file_sizes=srcsetSizes,
                    formats=['jpg'],
                    width=2560,
                    height=960,
                    alt="Header image",
                )}}
            </div>
            <div class="container-fluid">
                <div class="section__content">
                    <div class="header__logo">
                        {{picture(
                            media_url=media_url,
                            filename= 'logo' ,
                            file_sizes=[312, 624],
                            formats=['webp','png'],
                            width=800,
                            height=200,
                            alt="Logo",
                        )}}
                        <h2 hidden class="">mCamRig</h2>
                    </div>
                    <h1 class="section__text">
                        {# {{ data.header.subtitle }} #}
                        {{product.head_info|safe}}
                    </h1>
                </div>
		</div>
        {# SOFTWARE ICONS #}
		<div id="software-icons" class="software-icons text-center" style="width: 100%; left: 0;">
			{% for si in software_versions %}
			<a
				{% if si.product.id == twin_product_id %}
					href="{{si.product_url}}"
				{% else %}
					role="button"
				{% endif %}
                name="product link {{ si.name[1] }}"
                aria-label="Product link {{ si.name[1] }}"
				target="_blank"
				class="d-inline-block mx-1"
				style="--i: {{ loop.index }}; --d: {{ loop.index }}">
				{{ picture(shared_media_url, si.images[1], formats=["webp","png"], file_sizes=[180], width=60, height=60, img_class='software-icon', data_src=False) }}
			</a>
			{% endfor %}
        </section>

        <script>
            const onHeaderImagesLoaded = (images, type= 'primary') => {
                const loadedImages = images.map(img => false);
                images.forEach((img, idx) => {
                    loadedImages[idx] = img.complete;

                    if (loadedImages.every(val => val)) {
                        header.classList.add(`loaded-${type}`)
                    }
                    img.onload = () => {
                        loadedImages[idx] = true
                        if (loadedImages.every(val => val)) {
                            header.classList.add(`loaded-${type}`)
                        }
                    }
                })
            }

            const header = document.querySelector('section.header')
            const items1 = [
                header.querySelector('.image__background img'),
            ]

            const items2 = Array.from(header.querySelectorAll('.image__background img'));

            onHeaderImagesLoaded(items1);
            onHeaderImagesLoaded(items2, 'secondary');
        </script>

        <a class="nav" name="trailer"></a>
		{# TRAILER #}
        <section class="video trailer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section__content">
                            <div class="section__head">
                                <div class="section__title">
                                    {{ data.trailer.title|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="yt embed-responsive embed-responsive-16by9">
                            <div class="video-iframe" data-id="{{trailer_id}}" style="background-color: #000"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a class="nav" name="tutorial"></a>
		{# TUTORIAL #}
        <section class="video tutorial">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <div class="section__content">
                            <div class="section__head">
                                <div class="section__title ">
                                    {{data.tutorial.title|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="yt embed-responsive embed-responsive-16by9">
                            <div class="video-iframe" data-id="{{tutorial_id}}" style="background-color: #000"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="promo">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__content">
                            <div class="section__head">
                                {{picture(
                                    media_url=media_url,
                                    filename= 'icon' ,
                                    file_sizes=[156, 330],
                                    formats=['webp','png'],
                                    width=330,
                                    height=156,
                                    alt="Icon image",
                                )}}
                                <div class="section__title mx-auto" style="max-width: 500px">{{ data['promo'].title }}</div>
                                <p class="section__text mx-auto" style="max-width: 530px">{{ data['promo'].text|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="columns">
            <div class="image__background">
                {{picture(
                    media_url=media_url,
                    filename= 'bg_03' ,
                    file_sizes=srcsetSizes,
                    formats=['jpg'],
                    width=2560,
                    height=1199,
                    img_class='lazy-show',
                    alt="Header image",
                    data_src=True
                )}}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__content">
                            <div class="section__head">
                                <div class="section__title mx-auto" style="max-width: 500px">{{ data['columns'].title }}</div>
                                <p class="section__text mx-auto" style="max-width: 530px">{{ data['columns'].text|safe }}</p>
                            </div>
                            <div class="columns__items">
                                {% for p in [
                                    'Position',
                                    'Rotation',
                                    'Fading',
                                    'Depth of Field',
                                    'Angle<br/>of View',
                                    'Masking',
                                    'Post Effects',
                                    'On-Screen<br/>Controls',
                                ] %}
                                    <div class="columns__item">{{ p|safe }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# TECHSPEC #}
        <a class="nav" href="#" name="specs" rel="noopener noreferrer"></a>
        <div class="ts-mi">
            <section class="tech-spec">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tech-spec-info">
                                <div class="section__text__content">
                                    <div class="section__head">
                                        <h2 class="section__title tech-spec__title section__title">Technical specifications</h2>
                                    </div>
                                    <div class="ttable tech-spec__table">
                                        <div class="tcell tlabel">Supported software</div>
                                        <div class="tcell tdata">

                                        {% set music_all = product.productdetails.music.select_related('music_portal').all() %}
                                        {% set requirements_all = product.productdetails.minimal_requirements %}

                                        {% set versions = {
                                            'fcpx': {
                                                'minimal_requirements': requirements_all.replace(', DaVinci Resolve 17.4.6', '').replace('FCP 10', 'FCP 10').replace('Motion 5', 'Motion 5').replace(', ', ',<br>'),
                                                'includes': '1 FCPX title',
                                                'size': "%.1f MB" % (product.productdetails.source_size / 1000),
                                            },
                                            'dvr': {
                                                'minimal_requirements': 'DaVinci Resolve 17.4.6 but 18 Highly Recommended',
                                                'includes': '1 DVR effect',
                                                'size': "%.1f KB" % (12),
                                            }
                                         } %}
                                            {% for key, p in versions.items() %}
                                                {{ p.minimal_requirements|safe }}<br/>
                                            {% endfor %}
                                        </div>
                                        <div class="tcell tlabel">Includes</div>
                                        <div class="tcell tdata">
                                            {% for key, p in versions.items() %}
                                                {{ key|upper }} - {{ p.includes|safe }}<br/>
                                            {% endfor %}
                                        </div>
                                        <div class="tcell tlabel">Size</div>
                                        <div class="tcell tdata">
                                            {% for key, p in versions.items() %}
                                                {{ key|upper }} — {{ p.size|safe }}<br/>
                                            {% endfor %}
                                        </div>
                                        {% for kind in ['trailer', 'tutorial'] %}
                                            {% with musics=product.productdetails.music.select_related('music_portal').all().filter(used_in_trailer=kind=='trailer') %}
                                                {% if musics|length %}
                                                    <div class="tcell tlabel">Music used in {{ kind }}</div>
                                                    <div class="tcell tdata">
                                                        {% include 'product/music_info.jinja2' %}
                                                    </div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <section class="minstaller__section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="minstaller">
                                <h3 class="minstaller__title">mInstaller</h3>
                                <p class="minstaller__description">
                                    After purchasing, the product is <b>instantly available </b>for download via <a href="https://www.motionvfx.com/page/minstaller.html" target="_blank" rel="noopener noreferrer">mInstaller</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer class="footer">
            <div class="image__background " style="--s-index:0">
                {{picture(
                    media_url=media_url,
                    filename= 'footer' ,
                    file_sizes=srcsetSizes,
                    formats=['jpg'],
                    width=2560,
                    height=1100,
                    data_src=True,
                    img_class='lazy-show',
                    alt="Footer image"
                )}}
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__text__content">
                            <div class="section__head">
                                <div class="footer__title section__title">
                                    {{data.footer.title|safe}}
                                </div>
                                <p class="footer__text section__text mx-auto" style="max-width: 500px">
                                    {{ data.footer.text|safe }}
                                </p>
                            </div>
                            <div class="button-buy">
                                {{buy_btn_free()}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    {# {% include './components/popup-left.jinja' %} #}
    {% include './components/submenu.jinja' %}
    
    <script src="https://s3.motionvfx.com/mvfxpublic/products/templates/1329/js/gsap.min.js"></script>
    <script src="https://s3.motionvfx.com/mvfxpublic/products/templates/1329/js/morpher.min.js"></script>
    
    <script src="dist/scripts.js"></script>
    <script src="scripts/vendor/menu.js" defer></script>
    <script src="scripts/vendor/scroll_to_anchor.js" defer></script>
</body>

</html>
