<!DOCTYPE html>
<html lang="en">
{% include './components/head.jinja' %}

<body>
    {% include './components/nav.jinja' %}
    {# {% include './components/macro.jinja' %} #}
    {# {% include './components/bundle-popup.jinja' %} #}

    {% macro split(string="test some string", attrs="") %}
        <div class="words chars splitting" {{ attrs }}>
        {% set words = string.split(' ') %}
        {%- for w in words -%}
            <span class="word" data-word="{{ w }}" style="--word-index:{{ loop.index }};">
                {%- for c in w|list() -%}
                    <span class="char" data-char="{{ c }}" style="--char-index:{{ loop.index }};">{{ c }}</span>
                {%- endfor -%}
            </span>
            {%- if not loop.last -%}<span class="whitespace"> </span>{%- endif -%}
        {%- endfor -%}
        </div>
    {% endmacro %}

    {% macro picture(
		media_url, filename, media_files={}, file_sizes=[360, 480, 640, 960], formats=['webp','jpg'], media_sizes='', media='', alt='', img_class='', img_style='', picture_class='', width='', height='', loading='', data_src=False
	) %}
		<picture class="{{ picture_class }}">
			{% for media in media_files %}
				{% set m = media_files[media] %}
				{% for format in formats %}
					<source {% if data_src %} data-srcset=" {% for size in m['file_sizes'] %} {{ media_url }}/{{ m['filename'] }}-{{ size }}.{{ format }} {{size}}w, {% endfor %}" {% else %} srcset=" {% for size in m['file_sizes'] %} {{ media_url }}/{{ m['filename'] }}-{{ size }}.{{ format }} {{size}}w, {% endfor %}" {% endif %} type="image/{{ format | replace('jpg', 'jpeg') }}" sizes="{{ m['media_sizes'] | default(media_sizes) }}" media="{{ media }}" >
				{% endfor %}
			{% endfor %}
			{% for format in formats %}
				<source {% if data_src %} data-srcset=" {% for size in file_sizes %} {{ media_url }}/{{ filename }}-{{ size }}.{{ format }} {{size}}w, {% endfor %}" {% else %} srcset=" {% for size in file_sizes %} {{ media_url }}/{{ filename }}-{{ size }}.{{ format }} {{size}}w, {% endfor %}" {% endif %} type="image/{{ format | replace('jpg', 'jpeg') }}" sizes="{{ media_sizes }}" media="{{ media }}">
			{% endfor %}
			<img {% if data_src %} data-src="{{ media_url }}/{{ filename }}-{{ file_sizes[0] }}.{{ formats[-1] }}?{{file_version}}" {% else %} src="{{ media_url }}/{{ filename }}-{{ file_sizes[0] }}.{{ formats[-1] }}?{{file_version}}" {% endif %} alt="{{alt}}" class="{{img_class}}" style="{{img_style}}" width="{{width}}" height="{{height}}" loading="{{loading}}" >
		</picture>
	{% endmacro %}
    {% macro buy_btn_free() %}
    <div class="button-buy">
        <div id="btn-buy-container" class="version1">
            <div class="inner-container">
                <a href="#" class="buy-button" data-add-to-cart='{ "productId": {{  product.id }}, "productTitle": "{{  product.title }}" }'>
                    Get it free for FCP / DVR
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

    {% set srcsetSizesMobile = [ 640, 960 ] %}
    {% set srcsetSizesDesktop = [ 1280, 1920, 2560 ] %}
    {% set srcsetSizes = srcsetSizesMobile + srcsetSizesDesktop %}

    {% set template_id = "1446" %}
    {# {% set template_id_s3 = "200" %} #}
    {% set media_prefix = "mVertical" %}
    {% set media_url = "https://s3.motionvfx.com/mvfxpublic/products/templates/%s/media" % template_id %}

    {# {% set media_prefix_s3 = "https://s3.motionvfx.com/mvfxpublic/products/templates/%s/media" % template_id_s3 %} #}
    {# {% set media_prefix_presets = media_prefix + "/presets" %} #}
    {% set version = "v=0" %}


    {% set product_name = 'mVertical' %}
    {% set shared_media_template_id = '1408' %}
    {% set shared_media_url = 'https://s3.motionvfx.com/mvfxpublic/products/templates/%s/media' % (shared_media_template_id) %}
    {% set product_id_fcp = 3698 %}
    {% set product_id_dvr = 3727 %}
    {% set twin_product_id = product_id_fcp %}
    {# {% set product_fcp, product_dvr = get_products([product_id_fcp, product_id_dvr]) %} #}
	{% set product_fcp, product_dvr = [product, product] %}
    {% set software_versions = [
        {
            'type': 'fcp',
            'name': ['FCP', 'Final Cut Pro'],
            'product': product_fcp,
            'product_url': 'https://www.motionvfx.com/store,%s,p%s.html' % (product_fcp.slug, product_fcp.id),
            'images': ["box_fcp", "fcp_icon"],
            'box_media_url': 'https://s3.motionvfx.com/mvfxpublic/products/templates/%s/media' % ('1415')
        }
    ] %}
    {#{% for sv in software_versions %}
        {{ sv.product.set_btn_title("%s for %s" % (product_name, sv.name[0]))|default("", True) }}
    {% endfor %}#}
    {% set products = software_versions|map(attribute="product") %}
    {% set live = True %}


    {% set data = {
        'header': {
            'subtitle': 'Free Vertical Video Adjustment Plugin for DaVinci Resolve'
        },
        'trailer': {
            'title': 'Watch trailer',
            'text': 'Get a taste of the uniquely climatic, highly energetic elements and prepare for full immersion'
        },
        'tutorial': {
            'title': 'Watch tutorial',
            'text': 'See for yourself how quick & easy achieving original anime look can be'
        },
        'promo': {
            'title': "Electrifying energy for your edits",
            'text': 'These explosive presets leave no room for mild emotions.  Zap it up!',
        },
        'slices': {
            'title': 'Powerful mood, excellent usability',
            'text': "Build atmosphere with unparalleled ease enjoying an extensive range of presets and their categories ",
        },
        'footer': {
            'title': 'An explosive collection of 131 dangerously compelling, anime-inspired presets. Are you in?',
            'text': 'Built on the vast anime & manga heritage, these 131 striking presets are designed to help you take your narrative to another level and create exceptional atmosphere. Get them now!'
        }
    } %}

	{% set trailer_id = 'vkDX3a_jwm8' %}
    {% set tutorial_id = 'S3rkwxadRac' %}

    {# {% set combo, anime, zaps = get_products([3819, 3809, 3810]) %}
    {% set comboPrice = combo.price %}
    {% set comboRealPrice = anime.price + zaps.price %}
    {% set comboPromoPrice = combo.get_price(request.user) %}
    {% set comboPromoRealPrice = anime.get_price(request.user) + zaps.get_price(request.user) %} #}

    {% set combo, anime, zaps = get_products([3819, 3809, 3810]) %}

    {% set comboPromoPrice = 100 %}
    {% set comboPrice = 130 %}
    {% set comboRealPrice = 80 + 80 %}

    {% set product_name = 'mAnime' %}
    {% set plugin_versions = [
        {
            'product': combo,
            'name': 'Combo!',
        },
        {
            'product': anime,
            'name': '',
        },
        {   'product': zaps,
            'name': 'Zaps',
        }
    ]%}
    
    {# {% for pv in plugin_versions %}
        {{ pv.product.set_btn_title("%s %s" % (product_name, sv.name))|default("", True) }}
	{% endfor %} #}
    {% set products = plugin_versions|map(attribute="product") %}

    <main class="mAnime">
        <section class="header">
            <div class="image__background header__bg">
                {# {{picture(
                    media_url=media_url,
                    filename= 'top',
                    file_sizes=srcsetSizes,
                    formats=['jpg'],
                    width=2560,
                    height=960,
                    alt="Header image",
                )}} #}
                <video alt="Heading video mAnime and mAnime Zap effects" autoplay loop muted playsInline type="video/mp4">
                    <source src="{{ media_url }}/top.mp4?{{ version }}" type="video/mp4">
                </video>
            </div>
            <div class="container-fluid">
                <div class="section__content">
                    <div class="header__logo">
                        {{picture(
                            media_url=media_url,
                            filename='logo',
                            file_sizes=[640, 1000],
                            formats=['webp','png'],
                            width=800,
                            height=200,
                            alt="Logo",
                        )}}
                        <h2 hidden>
                            mAnime and mAnime Zap
                        </h2>
                    </div>
                    <h1 class="section__text" style="max-width: 30rem;">
                        {# {{ data.header.subtitle }} #}
                        80 STRIKING PRESETS IN MANIME<br>+ 51 EXPLOSIVE ELEMENTS IN MANIME ZAPS
                        {# {{product.head_info|safe}} #}
                    </h1>
                </div>
            </div>
        {# SOFTWARE ICONS #}
        <div id="software-icons" class="software-icons text-center" style="width: 100%; left: 0;">
            {% for si in software_versions %}
            <a
                {# {% if si.product.id == twin_product_id %}
                href="{{si.product_url}}"
                {% else %} #}
                {# {% endif %} #}
                role="button"
                name="product link {{ si.name[1] }}"
                aria-label="Product link {{ si.name[1] }}"
                target="_blank"
                class="d-inline-block mx-1"
                style="--i: {{ loop.index }}; --d: {{ loop.index }}">
                {{ picture(shared_media_url, si.images[1], formats=["webp","png"], file_sizes=[180], width=60, height=60, img_class='software-icon', data_src=False) }}
            </a>
            {% endfor %}
        </div>
        </section>

        <script>
            const onImageLoad = (image, cb) => {
                if (image.complete) {
                    cb();
                    return;
                }

                image.onload = cb
            };

            const onStreamLoad = (streamElement, cb) => {
                streamElement.onloadeddata = cb;
                streamElement.onstalled = cb;
            };

            const onMediaLoad = (mediaElement, cb) => {
                if (mediaElement.nodeName === "IMG") {
                    onImageLoad(mediaElement, cb);
                }

                onStreamLoad(mediaElement, cb);
            };


            const header = document.querySelector('section.header')
            const elements = [
                ...header.querySelectorAll('img'),
                ...header.querySelectorAll('video')
            ]

            const loadProgress = elements.map(element => false)

            const allLoaded = () => loadProgress.every(val => val);

            const onLoad = (index) => () => {
                loadProgress[index] = true;

                if (allLoaded()) {
                    setTimeout(() => {
        
                    header.classList.add(`loaded-media`)
    }, 10);
                }
            }

            elements.forEach((element, index) => onMediaLoad(element, onLoad(index)))

        </script>

        <section class="zip__file py-3" style="background: #15161A;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="mx-auto text-center section__text" style="max-width: 36em">
                            mAnime Zaps comes also with a ZIP file containing Pro Res files with alpha channel support – which means you can use it with any NLE!
                        </div>
                        {{picture(
                            media_url=media_url,
                            filename='fire',
                            file_sizes=[600, 1200],
                            formats=['webp', 'png'],
                            width=1200,
                            height=1200,
                            data_src=True,
                            img_class='lazy-show',
                            alt=''
                        )}}
                    </div>
                </div>
            </div>
        </section>

        <section class="bg--black blink__comp__section" data-visible="true">
            <div class="container">
                <div class="blink__comp">
                    <video class="" autoplay loop muted playsInline type="video/mp4">
                        <source src="{{ media_url }}/blink.mp4?{{ version }}" type="video/mp4">
                    </video>
                    {{picture(
                        media_url=media_url,
                        filename='blink',
                        file_sizes=srcsetSizes,
                        formats=['png'],
                        width=1200,
                        height=1200,
                        data_src=True,
                        img_class='lazy-show',
                        alt=''
                    )}}
                </div>
                <div class="row align-items-end pb-3 mx-0">
                    <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end px-3 {% if drop %}{% else %}pr-lg-0{% endif %}">
                        <div class="plugin-boxes boxes-1 box-size-1 d-flex justify-content-end pt-2 px-2 show-section show-section-boxes two-boxes {% if drop %}plugin-box-drop{% endif %}">
                            <div class="save-money d-flex align-items-center justify-content-center">
                                <div class="save-money-bubble">
                                    <div class="inner">
                                        <div class="save">Save</div>
                                        {# <div class="price">${{ price(comboPromoRealPrice - comboPromoPrice) }}</div> #}
                                        <div class="price">$$</div>
                                    </div>
                                </div>
                            </div>
                            <div class="plugin-box mtracker" style="--x: .3; --i: 1">
                                {{ picture(media_url, 'box_manime', file_sizes=[256,512], formats=['webp','png'], media_sizes="(max-width: 1200px) 50vw, 400px", width=300, height=300, picture_class='d-block plugin-box-inner') }}
                            </div>
                            <div class="plugin-box area" style="--x: 0; --i: 2">
                                {{ picture(media_url, 'box_manime_zaps', file_sizes=[256,512], formats=['webp','png'], media_sizes="(max-width: 1200px) 50vw, 400px", width=300, height=300, picture_class='d-block plugin-box-inner') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 text-center text-lg-left px-0 px-lg-5 pt-3 pb-3">
                        <h2 class="mt-4 mt-lg-0 h2.5 mx-auto mx-lg-0 section__title" style="width:Min(100%, 5em);">Save big time, hit that combo!</h2>
                        <p class="p mx-auto mx-lg-0 mb-lg-0 mb-xl-4 section__text" style="width:Min(100%, 25.5em);">Each one perfectly capable of altering your edit’s mood, these plugins were designed, crafted and released together. Get them in a bundle!</p>
                    </div>
                </div>
            </div>
        </section>

    	<a class="nav" name="trailer"></a>
		{# TRAILER #}
        <section class="video trailer" data-visible="true">
            {{picture(
                media_url=media_url,
                filename='energy',
                file_sizes=[600, 1200],
                formats=['webp', 'png'],
                width=1200,
                height=1200,
                data_src=True,
                img_class='lazy-show lazy__deco',
                alt=''
            )}}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section__content">
                            <div class="section__head">
                                {# <p class="section__subtitle " style="--s-index:0;">
                                    {{data.trailer.subtitle}}
                                </p> #}
                                <div class="section__title">
                                    {{ data.trailer.title|safe }}
                                </div>
                                <p class="section__text mx-auto" style="max-width: 400px">
                                    {{ data.trailer.text|safe }}
                                </p>
                            </div>
                        </div>
                        <div class="yt embed-responsive embed-responsive-16by9">
                            <div class="video-iframe" data-id="{{trailer_id}}" style="background-color: #000"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a class="nav" name="tutorial"></a>
		{# TUTORIAL #}
        <section class="video tutorial">
            {{picture(
                media_url=media_url,
                filename='blink_3',
                file_sizes=[600, 1200],
                formats=['webp', 'png'],
                width=1200,
                height=1200,
                data_src=True,
                img_class='lazy-show lazy__deco',
                alt=''
            )}}
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <div class="section__content">
                            <div class="section__head">
                                {# <p class="section__subtitle " style="--s-index:0;">
                                    {{data.tutorial.subtitle}} #}
                                </p>
                                <div class="section__title ">
                                    {% autoescape off %} {{data.tutorial.title}} {% endautoescape %}
                                </div>
                                <p class="section__text mx-auto" style="max-width: 460px">
                                    {% autoescape off %} {{data.tutorial.text}} {% endautoescape %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="yt embed-responsive embed-responsive-16by9">
                            <div class="video-iframe" data-id="{{tutorial_id}}" style="background-color: #000"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# PROMO SLIDER #}
        {% set slides = [
            {
                'src': 's_1',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'MANGA',
                        'ANIME',
                        'DREAMY GLOW',
                        'TYPOGRAPHY 08',
                    ],
                    "mANIME ZAPS": [
                        'LIGHTING 04',
                        'SMOKE 04',
                    ],
                }
            },
            {
                'src': 's_2',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'MANGA',
                        'ANIME'
                    ],
                    "mANIME ZAPS": [
                    ],
                }
            },
            {
                'src': 's_3',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'MANGA',
                        'ANIME',
                        'DREAMY GLOW',
                    ],
                    "mANIME ZAPS": [
                    ],
                }
            },
            {
                'src': 's_4',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'MANGA',
                        'ANIME',
                        'DREAMY GLOW',
                    ],
                    "mANIME ZAPS": [
                        'LIGHTING 07',
                    ],
                }
            },
            {
                'src': 's_5',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'MANGA',
                        'ANIME',
                        'DREAMY GLOW',
                        'TYPOGRAPHY',
                    ],
                    "mANIME ZAPS": [
                        'LIGHTING 07',
                    ],
                }
            },
            {
                'src': 's_6',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'MANGA',
                        'ANIME',
                        'DREAMY GLOW',
                        'TYPOGRAPHY 08',
                    ],
                    "mANIME ZAPS": [
                        'LIGHTING 07',
                        'SMOKE 04'
                    ],
                }
            }
        ] %}
        <section class="promo-carousel-flat promo-carousel-flat--1">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__head section__content text-center">
                            <p class="section__subtitle " style="--s-index:0;">
                                {{ data['promo'].subtitle|safe }}
                            </p>
                            <div class="section__title mx-auto" style="max-width: 500px">
                                {{ data['promo'].title|safe }}
                            </div>
                            <p class="section__text mx-auto" style="max-width: 20em">
                                {{ data['promo'].text|safe }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="section__content promo-carousel-tags">
                            {# TAGS #}
                            <div id="carouselFlatTags" class="carousel slide carousel-fade">
                                <div class="carousel-inner">
                                    {% for entry in slides %}
                                        <div class="carousel-item carousel-item-tags {% if loop.index == 1 %} active {% endif %}" style={{ "opacity:0;" if loop.index == 1}}>
                                            {% for key, tags in entry.tags.items() %}
                                                <div style={{ "opacity:0;" if not tags|length }}>
                                                    <span class="tag__label">{{ key }}:</span> <span class="tag__value">{{ tags|join(' <span class="tag__separator">|</span> ')|safe }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="carouselFlat" class="carousel slide slide-new slide-poly">
                <div class="carousel-inner">
                    {% for img in slides %}
                        <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                            {# <img class="d-block w-100 lazy-show" src="https://www.placecage.com/256{{ loop.index }}/860" alt=""> #}
                            {{picture(
                                media_url=media_url,
                                filename= img.src,
                                file_sizes=srcsetSizes,
                                formats=['jpg'],
                                width=2560,
                                height=960,
                                data_src=True,
                                img_class='d-block w-100 lazy-show',
                                alt=img.alt
                            )}}
                        </div>
                    {% endfor %}
                </div>
                <ol id="carouselFlatIndicators" class="carousel-indicators">
                    {% for indicator in slides %}
                        <li class="{% if loop.index == 1 %} active {% endif %}"></li>
                    {% endfor %}
                </ol>
                <a class="carousel-control-prev" href="#carouselFlat" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselFlat" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        {# PROMO #}
        <section class="bg--black slices">
            <div class="slices__comp slices__comp--1">
                {% set slices = [
                    {
                        'src': 'motocycle',
                        'alt': '',
                        'polygon': '0 0%, 100% 10%, 95% 80%, 2% 100%'
                    },
                    {
                        'src': 'team',
                        'alt': '',
                        'polygon': '5% 20%, 100% 0%, 100% 90%, 0% 100%'
                    },
                    {
                        'src': 'woman',
                        'alt': '',
                        'polygon': '0 0%, 95% 2%, 100% 75%, 2% 100%'
                    }
                ] %}
                {% for s in slices %}
                    <div class="{{ s.src }} slice slice--{{ loop.index }}" style="--width:800; --height:300; --polygon:{{s.polygon}}">
                        {# <img src="{{ s.src }}" alt="{{ s.alt }}"> #}
                        {{picture(
                            media_url=media_url,
                            filename= s.src,
                            file_sizes=[640, 960, 1280 ,2000],
                            formats=['jpg'],
                            width=2000,
                            height=1125,
                            data_src=True,
                            img_class='lazy-show',
                            alt=s.alt
                        )}}
                    </div>
                {% endfor %}
            </div>

            <div class="slices__comp slices__comp--2">
                {% set slices = [
                    {
                        'src': 'kick_of',
                        'alt': '',
                        'polygon': '0 0%, 100% 5%, 100% 100%, 5% 100%'
                    },
                    {
                        'src': 'man_2',
                        'alt': '',
                        'polygon': '0 0%, 90% 0%, 100% 100%, 0 100%'
                    },
                    {
                        'src': 'man',
                        'alt': '',
                        'polygon': '2.5% 0, 100% 0%, 95% 80%, 0 100%'
                    }
                ] %}

                {% for s in slices %}
                    <div class="slice slice--{{ loop.index }}" style="--width:1125; --height:2000; --polygon:{{s.polygon}}">
                        {# <img src="{{ s.src }}" alt="{{ s.alt }}"> #}
                        {{picture(
                            media_url=media_url,
                            filename= s.src,
                            file_sizes=[640, 960, 1125],
                            formats=['jpg'],
                            width=1125,
                            height=2000,
                            data_src=True,
                            img_class='lazy-show',
                            alt=s.alt
                        )}}
                    </div>
                {% endfor %}

                <div class="slices__deco">
                    {{picture(
                        media_url=media_url,
                        filename='wow',
                        file_sizes=[320, 640],
                        formats=['webp', 'png'],
                        width=640,
                        height=559,
                        data_src=True,
                        img_class='lazy-show',
                        alt=''
                    )}}
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__content">
                            <div class="section__deco">
                                {# <img src="https://www.placecage.com/200/130" alt=""> #}
                                <video class="video__deco" autoplay loop muted playsInline type="video/mp4">
                                    <source src="{{ media_url }}/lighting_deco.mp4?{{ version }}" type="video/mp4">
                                </video>
                            </div>
                            <div class="section__title mx-auto" style="max-width: 7em;">
                                {{ data['slices'].title|safe }}
                            </div>
                            <div class="section__text mx-auto" style="max-width: 20em;">
                                {{ data['slices'].text|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {# SLIDE_2 #}
        {% set slides = [
            {
                'src': 'tiger',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'ANIME',
                        'ADD-ON 07',
                        'TITLE 05',
                        'BACKGROUND 04',
                    ],
                    "mANIME ZAPS": [
                        'FLAME 01',
                    ],
                }
            },
            {
                'src': 'kids',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'TYPOGRAPHY 10',
                    ],
                    "mANIME ZAPS": [
                        'SMOKE 04',
                        'FLAME 06',
                        'MISCELLANEOUS 11',
                        'MISCELLANEOUS 08',
                    ],
                }
            },
            {
                'src': 'rush',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'MANGA',
                        'TITLE 02',
                    ],
                    "mANIME ZAPS": [
                    ],
                }
            },
            {
                'src': 'strike',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'TYPOGRAPHY 08',
                        'TITLE 08',
                    ],
                    "mANIME ZAPS": [
                        'MISCELLANEOUS 08',
                    ],
                }
            },
            {
                'src': 'fire',
                'alt': '',
                'tags': {
                    "mANIME" : [
                        'ADD-ON 02',
                        'ANIME',
                    ],
                    "mANIME ZAPS": [
                        'FLAME 07',
                    ],
                }
            },
        ] %}
        <section class="bg--black promo-carousel-flat promo-carousel-flat--2">
            <div class="section__content promo-carousel-tags">
                {# TAGS #}
                <div id="carouselFlat2Tags" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        {% for entry in slides %}
                            <div class="carousel-item carousel-item-tags {% if loop.index == 1 %} active {% endif %}">
                                {% for key, tags in entry.tags.items() %}
                                    <div style={{ "opacity:0;" if not tags|length }}>
                                        <span class="tag__label">{{ key }}:</span> <span class="tag__value">{{ tags|join(' <span class="tag__separator">|</span> ')|safe }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="carouselFlat2" class="carousel slide slide-new">
                <div class="carousel-inner">
                    {% for img in slides %}
                        <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                            {# <img class="d-block w-100 lazy-show" src="https://www.placecage.com/256{{ loop.index }}/960" alt=""> #}
                            {{picture(
                                media_url=media_url,
                                filename= img.src,
                                file_sizes=srcsetSizes,
                                formats=['jpg'],
                                width=2560,
                                height=960,
                                data_src=True,
                                img_class='d-block w-100 lazy-show',
                                alt=img.alt
                            )}}
                        </div>
                    {% endfor %}
                </div>
                <ol id="carouselFlat2Indicators" class="bg--black carousel-indicators">
                    {% for indicator in slides %}
                        <li class="{% if loop.index == 1 %} active {% endif %}"></li>
                    {% endfor %}
                </ol>
                <a class="carousel-control-prev" href="#carouselFlat2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselFlat2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        {# ANIME #}
        <section class="bg--black prevs center">
            {% set productPageTemplateId = template_id %} 
            {% set collapseAfter = 8 %}
            {% set namePrefix = '' %}
            {% set categories = [
                { 'label': 'Effects', 'key':'effects', 'count': 8, 'class': None },
                { 'label': 'Frames', 'key':'frame', 'count': 14, 'class': None },
                { 'label': 'Add-ons', 'key':'add_on', 'count': 14, 'class': None },
                { 'label': 'Backgrounds', 'key':'background', 'count': 6, 'class': None },
                { 'label': 'Speech bubbles', 'key':'speech_bubble', 'count': 8, 'class': None },
                { 'label': 'Titles', 'key':'title', 'count': 10, 'class': None },
                { 'label': 'Transitions', 'key':'transitions', 'count': 5, 'class': None },
                { 'label': 'Typography', 'key':'typography', 'count': 15, 'class': None },
            ]%}
            
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="section__content">
                            <h2 class="section__title">
                                <div class="section__display">{{ categories|map(attribute="count")|sum }}</div>
                                <div>Striking Anime-Inspired Presets</div>
                            </h2>
                            <p class="section__text mx-auto" style="max-width: 20em">BUILD ATMOSPHERE WITH UNPARALLELED EASE ENJOYING AN EXTENSIVE RANGE OF PRESETS AND THEIR CATEGORIES</p>
                            <p class="section__subtitle tap">
                                HOVER OR TAP TO PREVIEW ANIMATIONS
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="collapse__prevs">
                    
                    <div id="product-prev-grid-collapse--1" class="collapse">

                    <div id="product-prev-grid" class="product-prev-grid product-prev-grid--1 container collapse__body">
                        {% for category in categories %}
                            {% set key = category.key %}
                            {% if categories|length > 1 %}
                                <h3 class="section__title">{{ category.label }}
                                </h3>
                            {% endif %}
                            <div class="row {{ category.rowClass | default('') }} {% if category.count == 5 %}row-5{% endif %}">
                                {% for i in range(category.count) %}
                                    {% set num = '%02d' % loop.index %}
                                    {% set filename = 'https://s3.motionvfx.com/mvfxpublic/products/templates/' + productPageTemplateId + '/media/' + namePrefix + key +  '_' + num %}
                                    <div class="product-prev-col col-6 col-lg-3 {% if loop.index > collapseAfter %}collapse prev-collapse-{{ key }}{% endif %}" id="prev-collapse-{{ key }}-{{ loop.index }}"
                                        >
                                        <div class="product-prev-cell" data-mp4-src="{{ filename }}.mp4?{{version}}">
                                            <img loading="lazy" src="{{ filename }}-640.jpg?{{version}}" alt="" width="640" height="360" />
                                            <div class="loading-spinner"></div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if category.count > collapseAfter %}
                                    <div class="col-btn-collapse">
                                        <button class="btn-collapse" type="button" data-target=".prev-collapse-{{ key }}" aria-expanded="false" aria-controls="{% for j in range(collapseAfter, category.count) %} prev-collapse-{{ key }}-{{ j }} {% endfor %}">
                                            <span><span class="label-collapsed">Show more</span><span class="label-expanded"> Collapse</span> ({{ category.count - collapseAfter }})</span>
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 36.6 61.5" style="enable-background:new 0 0 36.6 61.5;" xml:space="preserve" class="btn-collapse-arrow" height="20">
                                                <style type="text/css">
                                                    .st0{fill:none;stroke:currentColor;stroke-width:8;stroke-miterlimit:10;}
                                                </style>
                                                <polyline class="st0" points="2.8,58.6 30.9,30.5 3.2,2.8 "/>
                                            </svg>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    </div>

                    </div>

                </div>
                <div class="row">
                {% macro see_more(target="") %}
                    <button class="collapse__prevs__btn mx-auto mt-5" type="button" data-toggle="collapse" data-target="{{ target }}" aria-expanded="false" aria-controls="collapseExample">
                        <span class="label-collapsed">See more</span><span class="label-expanded">Hide</span>
                            <svg
                                version="1.1"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px"
                                y="0px"
                                viewBox="0 0 36.6 61.5"
                                style="enable-background:new 0 0 36.6 61.5;"
                                xml:space="preserve"
                                class="btn-collapse-arrow"
                                height="20"
                            >
                                <style type="text/css">
                                    .st0{fill:none;stroke:currentColor;stroke-width:8;stroke-miterlimit:10;}
                                </style>
                                <polyline class="st0" points="2.8,58.6 30.9,30.5 3.2,2.8 "/>
                            </svg>
                    </button>
                {% endmacro %}

                {{see_more("#product-prev-grid-collapse--1")}}
                </div>
            </div>
        </section>

        {# PREV ZAPS #}
        <section class="bg--black prevs center">
            {% set productPageTemplateId = template_id %} 
            {% set collapseAfter = 8 %}
            {% set namePrefix = '' %}
            {% set categories = [
                { 'label': 'Flames', 'key':'flame', 'count': 8, 'class': None },
                { 'label': 'Lightning', 'key':'lightning', 'count': 8, 'class': None },
                { 'label': 'Energy', 'key':'energy', 'count': 11, 'class': None },
                { 'label': 'Miscellaneous', 'key':'miscellaneous', 'count': 15, 'class': None },
                { 'label': 'Smoke', 'key':'smoke', 'count': 9, 'class': None },
            ]%}
            
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="section__content">
                            <h2 class="section__title">
                                <div class="section__display">{{ categories|map(attribute="count")|sum }}</div>
                                <div>Explosive Manga-Inspired Elements</div>
                            </h2>
                            <p class="section__text mx-auto" style="max-width: 26em">
                                INJECT YOUR EDIT WITH SOME MANGA-INSPIRED, HIGH-ENERGY ELEMENTS RADIATING CLEAN, UNSTOPPABLE POWER THAT PUTS AN END TO ALL ARGUMENTS WITH A SINGLE, ELECTRIFYING ZZZAPPP!
                            </p>
                            <p class="section__subtitle tap">
                                HOVER OR TAP TO PREVIEW ANIMATIONS
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="collapse__prevs">
                    
                    <div id="product-prev-grid-collapse--2" class="collapse">

                    <div id="product-prev-grid" class="product-prev-grid product-prev-grid--2 container collapse__body">
                        {% for category in categories %}
                            {% set key = category.key %}
                            {% if categories|length > 1 %}
                                <h3 class="section__title">{{ category.label }}
                                </h3>
                            {% endif %}
                            <div class="row {{ category.rowClass | default('') }} {% if category.count == 5 %}row-5{% endif %}">
                                {% for i in range(category.count) %}
                                    {% set num = '%02d' % loop.index %}
                                    {# https://s3.motionvfx.com/mvfxpublic/products/templates/1297/media/Background_{{num}}.mp4 #}
                                    {# https://s3.motionvfx.com/mvfxpublic/products/templates/1297/media/mIntro_2_04.mp4 #}
                                    {% set filename = 'https://s3.motionvfx.com/mvfxpublic/products/templates/' + productPageTemplateId + '/media/' + namePrefix + key +  '_' + num %}
                                    <div class="product-prev-col col-6 col-lg-3 {% if loop.index > collapseAfter %}collapse prev-collapse-{{ key }}{% endif %}" id="prev-collapse-{{ key }}-{{ loop.index }}"
                                        >
                                        <div class="product-prev-cell" data-mp4-src="{{ filename }}.mp4?{{version}}">
                                            <img loading="lazy" src="{{ filename }}-640.jpg?{{version}}" alt="" width="400" height="225" />
                                            <div class="loading-spinner"></div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if category.count > collapseAfter %}
                                    <div class="col-btn-collapse">
                                        <button class="btn-collapse" type="button" data-target=".prev-collapse-{{ key }}" aria-expanded="false" aria-controls="{% for j in range(collapseAfter, category.count) %} prev-collapse-{{ key }}-{{ j }} {% endfor %}">
                                            <span><span class="label-collapsed">Show more</span><span class="label-expanded">Collapse</span> ({{ category.count - collapseAfter }})</span>
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                    viewBox="0 0 36.6 61.5" style="enable-background:new 0 0 36.6 61.5;" xml:space="preserve" class="btn-collapse-arrow" height="20">
                                                <style type="text/css">
                                                    .st0{fill:none;stroke:currentColor;stroke-width:8;stroke-miterlimit:10;}
                                                </style>
                                                <polyline class="st0" points="2.8,58.6 30.9,30.5 3.2,2.8 "/>
                                            </svg>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    </div>

                    </div>

                </div>
                <div class="row">
                    {{see_more("#product-prev-grid-collapse--2")}}
                </div>
            </div>
        </section>

        {# TECHSPEC #}
        <a class="nav" href="#" name="specs" rel="noopener noreferrer"></a>
        <div class="bg--black ts-mi">
        <section class="tech-spec bg--light">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tech-spec-info">
                            <div class="section__text__content">
                                <video class="video__deco" autoplay loop muted playsInline type="video/mp4">
                                    <source src="{{ media_url }}/flame_deco.mp4?{{ version }}" type="video/mp4">
                                </video>
                                <div class="section__head">
                                    <h2 class="section__title tech-spec__title section__title" style="max-width: 7em;">Technical specifications</h2>
                                </div>
                                
                                <div class="row">
                                    <style>
                                        .tech-spec-software__version {
                                            transform: translateX(5%);
                                            display: flex;
                                            justify-content: center;
                                            font-weight: 600;
                                            align-items: center;
                                            margin-bottom: 1rem;
                                        }
                                        @media screen and (max-width: 1200px) {
                                            .tech-spec-software__version {
                                                transform: translateX(0%);
                                            }
                                        }
                                    </style>

                                        {% set raw_plugins = [anime, zaps] %}
                                        {% set raw_plugins_includes = ['75 titles + 5 transitions for Final Cut Pro', '51 titles for Final Cut Pro or 5 Zip files with 51 ProRes files'] %}
                                        {% set raw_plugins_names = ['mAnime', 'mAnime Zaps'] %}
                                        

                                        {% for p in raw_plugins %}
                                            {% set requirements_all = p.productdetails.minimal_requirements %}
                                            {% set music_all = product.productdetails.music.select_related('music_portal').all() %}
                                            {% set includes = raw_plugins_includes[loop.index - 1] %}
                                            
                                            {#{{p.__dict__}}#}

                                            <div class="col-12 col-xl-6 mb-5 mb-xl-5">
                                                <div class="ttable tech-spec__table">
                                                    <div class="tcell tlabel">Pack</div>
                                                    <div class="tcell tdata">{{raw_plugins_names[loop.index-1]}}</div>
                                                    <div class="tcell tlabel">Supported software</div>
                                                    <div class="tcell tdata">
                                                        {{ requirements_all|safe }}
                                                    </div>
                                                    <div class="tcell tlabel">Includes</div>
                                                    <div class="tcell tdata">{{ includes }}</div>
                                                    <div class="tcell tlabel">Size</div>
                                                    {# {% set download_size = ((p.productdetails.source_size * 1000) | filesizeformat).replace('.0 ', ' ') %} #}
                                                    <div class="tcell tdata">{{ download_size }}</div>
                                                    {% for kind in ['trailer', 'tutorial'] %}
                                                        {% with musics=music_all.filter(used_in_trailer=(kind == 'trailer')) %}
                                                            {% if musics|length %}
                                                                <div class="tcell tlabel">Music used in {{ kind }}</div>
                                                                <div class="tcell tdata">
                                                                    {% include 'product/music_info.jinja2' %}
                                                                </div>
                                                            {% endif %}
                                                        {% endwith %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <section class="minstaller__section bg--light">
            {{picture(
                media_url=media_url,
                filename= 'chmurek',
                file_sizes=[ 460, 750, 1000 ],
                formats=['png'],
                width=1000,
                height=1000,
                data_src=True,
                img_class='lazy-show chmurek',
                alt=''
            )}}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="minstaller">
                            <h3 class="minstaller__title">mInstaller</h3>
                            <p class="minstaller__description">
                                After purchasing, the product is <b>instantly available </b>for download via <a href="https://www.motionvfx.com/page/minstaller.html" target="_blank" rel="noopener noreferrer">mInstaller</a>.
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="section__text text-center" style="max-width: 26em">
                            After installation, the ProRes files will be available in the Downloads folder selected in your mInstaller preferences.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>

		{# FOOTER #}
        {# media_files={
            '(max-width: 960px)': {
                'filename': media_prefix + '_footer_mobile',
                'formats':['jpg'],
                'file_sizes': [640, 960],
            }
        }, #}
	<footer class="bg--black footer">
        <div class="cloud cloud--1">
            <div class="cloud__wrapper">
                <div class="section__text">
                    I’ve been waiting a long, long time for this moment...
                </div>
                {{picture(
                    media_url=media_url,
                    filename='cloud',
                    file_sizes=[1125, 960, 640],
                    formats=['webp', 'png'],
                    width=1125,
                    height=1125,
                    data_src=True,
                    img_class='lazy-show',
                    alt='',
                )}}
            </div>
        </div>
        <div class="cloud cloud--2">
            <div class="cloud__wrapper">
            <div class="section__text">
                Careful what you wish for, Adante...
            </div>
            {{picture(
                media_url=media_url,
                filename='cloud',
                file_sizes=[1125, 960, 640],
                formats=['webp', 'png'],
                width=1125,
                height=1125,
                data_src=True,
                img_class='lazy-show',
                alt='',
            )}}
            </div>
        </div>
                    {# {
                        'src': 'cloud',
                        'at': '',
                        'polygon': '0 4%, 100% 5%, 100% 90%, 0 94%',
                        'width': 1125,
                        'height': 1125,
                        'sizes': [1125, 960, 640]
                    }, #}
            <div class="footer__comp">
                {% for f_c_i in [
                    {
                        'src': 'city',
                        'at': '',
                        'polygon': '0 0%, 100% 5%, 100% 100%, 0 97%',
                        'width': 2000,
                        'height': 1125,
                        'sizes': [2000, 1280, 960, 640]
                    },
                    {
                        'src': 'crack',
                        'at': '',
                        'polygon': '1% 0, 99% .75%, 100% 98.5%, 0 98.5%',
                        'width': 1125,
                        'height': 2000,
                        'sizes': [1125, 960, 640]
                    },
                    {
                        'src': 'girl_1',
                        'at': '',
                        'polygon': '0 0%, 100% 0%, 100% 100%, 0 100%',
                        'width': 1125,
                        'height': 2000,
                        'sizes': [1125, 960, 640]
                    },
                    {
                        'src': 'girl_2',
                        'at': '',
                        'polygon': '0 0%, 100% 2%, 100% 94%, 0 84%',
                        'width': 2000,
                        'height': 1125,
                        'sizes': [2000, 1280, 960, 640]
                    },
                    {
                        'src': 'kaboom',
                        'at': '',
                        'polygon': '0% 2%, 98% 2%, 100% 97%, 0 94%',
                        'width': 1125,
                        'height': 1125,
                        'sizes': [1125, 960, 640]
                    },
                    {
                        'src': 'man_1',
                        'at': '',
                        'polygon': '0 0%, 100% 3%, 100% 100%, 0 100%',
                        'width': 1125,
                        'height': 1125,
                        'sizes': [1125, 960, 640]
                    },
                ] %}
                <div class="footer__comp__item {{ f_c_i.src }}" style="--width:{{ f_c_i.width }}; --height:{{ f_c_i.height }}; --polygon:{{ f_c_i.polygon }}">
                    {{picture(
                        media_url=media_url,
                        filename=f_c_i.src,
                        file_sizes=f_c_i.sizes,
                        formats=['jpg'],
                        width=f_c_i.width,
                        height=f_c_i.height,
                        data_src=True,
                        img_class='lazy-show',
                        alt=f_c_i.alt,
                    )}}
                </div>
                {% endfor %}
                <div class="section__text__content">
                    <div class="section__head">
                        <div class="mx-auto footer__title section__title" style="max-width: 14em">
                            {{data.footer.title|safe}}
                        </div>
                        <p class="footer__text section__text mx-auto" style="max-width: 500px">
                            {{ data.footer.text|safe }}
                        </p>
                    </div>
                    <div class="button-buy">
                        {% with discount_text="INTRO", version=2 %}
                            {% include "product/buy_button.jinja2" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            {# <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__text__content">
                            <div class="section__head">
                                <div class="footer__title section__title">
                                    {{data.footer.title|safe}}
                                </div>
                                <p class="footer__text section__text mx-auto" style="max-width: 500px">
                                    {{ data.footer.text|safe }}
                                </p>
                            </div>
                            <div class="button-buy">
                                {% with discount_text="INTRO", version=2 %}
                                    {% include "product/buy_button.jinja2" %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div> #}
        </footer>
    </main>

    {# {% include './components/popup-left.jinja' %} #}
    {% include './components/submenu.jinja' %}
    
    {# <script src="https://s3.motionvfx.com/mvfxpublic/products/templates/1329/js/gsap.min.js"></script> #}
    {# <script src="https://s3.motionvfx.com/mvfxpublic/products/templates/1329/js/morpher.min.js"></script> #}
    
    <script src="dist/scripts.js"></script>
    <script src="scripts/vendor/menu.js" defer></script>
    <script src="scripts/vendor/scroll_to_anchor.js" defer></script>
</body>

</html>
