<!DOCTYPE html>
<html lang="en">
    {% include './components/head.jinja' %}
    <body>

    {% include './components/nav.jinja' %}
    {# {% include './components/macro.jinja' %} #}
    {# {% include './components/bundle-popup.jinja' %} #}
    {% macro picture(
        media_url,
        filename,
        media_files={},
        file_sizes=[360, 480, 640, 960],
        formats=['webp','jpg'],
        media_sizes='',
        media='',
        alt='',
        img_class='',
        img_style='',
        picture_class='',
        width='',
        height='',
        loading='',
        data_src=False
    ) %}
        <picture class="{{ picture_class }}">
            {% for media in media_files %}
                {% set m = media_files[media] %}
                {% for format in formats %}
                    <source {% if data_src %} data-srcset=" {% for size in m['file_sizes'] %} {{ media_url }}/{{ m['filename'] }}-{{ size }}.{{ format }} {{ size }}w,{% endfor %}
                            {% else %}
                            srcset=" {% for size in m['file_sizes'] %} {{ media_url }}/{{ m['filename'] }}-{{ size }}.{{ format }} {{ size }}w,{% endfor %}"
                            {% endif %}
                            type="image/{{ format | replace('jpg', 'jpeg') }}"
                            sizes="{{ m['media_sizes'] | default(media_sizes) }}"
                            media="{{ media }}">
                {% endfor %}
            {% endfor %}
            {% for format in formats %}
                <source {% if data_src %} data-srcset=" {% for size in file_sizes %} {{ media_url }}/{{ filename }}-{{ size }}.{{ format }} {{ size }}w,{% endfor %}
                        {% else %}
                        srcset=" {% for size in file_sizes %} {{ media_url }}/{{ filename }}-{{ size }}.{{ format }} {{ size }}w,{% endfor %}"
                        {% endif %}
                        type="image/{{ format | replace('jpg', 'jpeg') }}"
                        sizes="{{ media_sizes }}"
                        media="{{ media }}">
            {% endfor %}
            <img {% if data_src %} data-src="{{ media_url }}/{{ filename }}-{{ file_sizes[0] }}.{{ formats[-1] }}?{{ file_version }}" {% else %} src="{{ media_url }}/{{ filename }}-{{ file_sizes[0] }}.{{ formats[-1] }}?{{ file_version }}" {% endif %}
                    alt="{{ alt }}"
                    class="{{ img_class }}"
                    style="{{ img_style }}"
                    width="{{ width }}"
                    height="{{ height }}"
                    loading="{{ loading }}">
        </picture>
    {% endmacro %}

    {% macro person_section(d = {
        'section': {
                'name': 'name',
                'header': {
                    'class': 'class-title',
                    'title': 'Section title',
                    'subtitle': 'Section subtitle',
                    "deco": "<div class='letters slogan-5'>modern.</div><div class='letters letter-n'>N</div>"
                }
            },
            'persons': [
                {
                    "src": ["src", "src"],
                    "col_class": 'art-col-img-motion',
                    "name": "Placeholder name",
                    "position": "Placeholder position",
                    "deco": "<div class='letters slogan-5'>modern.</div><div class='letters letter-n'>N</div>",
                    "width_height": [320, 396]
                }
            ]
    }) %}
        <section id="{{ d.section.name }}" class="{{ d.section.name }} persons">
            {{ d.section.deco|safe }}
            <div class="container">
                <div class="{{ d.section.header.class }} section__head">
                    <p class="section__subtitle">{{ d.section.header.title }}</p>
                    <h2 class="section__title">{{ d.section.header.subtitle }}</h2>
                </div>
                <div class="row">
                    {% for p in d.persons %}
                        {% set p_index = loop.index %}
                        <div class="
                                {%- if p.class -%}
                                    {{ p.class }}
                                {%- else -%}
                                    col-lg-3 col-md-6 col-sm-6 {{ d.section.name }}-col person
                                {%- endif -%}
                            "
                            style="--s-index: {{ p_index % 5 }}">
                            {%- if p.src -%}
                                {# <div class="{{ d.section.name }}-col-img person__img"> #}
                                    <div class="{{ d.section.name }}-col-img person__img {{ p.col_class }}">
                                    {% for s in p.src %}
                                        {{ picture(
                                            media_url=media_url,
                                            filename=s,
                                            file_sizes=[420, 840],
                                            formats=['jpg'],
                                            media_sizes='',
                                            media='',
                                            alt=p.name + ', ' + p.position,
                                            img_class='lazy-show pic-' + loop.index|string,
                                            width=p.width_height[0] if p.width_height else 320,
                                            height=p.width_height[1] if p.width_height else 396,
                                            data_src=False,
                                            loading="lazy"
                                            ) }}
                                    {% endfor %}
                                    </div>
                                {# </div> #}
                                <div class="{{ d.section.name }}-col-text">
                                    <div class="name">{{ p.name }}</div>
                                    <div class="position">{{ p.position }}</div>
                                </div>
                            {%- endif -%}
                        </div>
                        {{ p.deco|safe }}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endmacro %}
    {% set template_id = '42' %}
    {% set file_version = 3 %}
    {% set media_url = 'https://s3.motionvfx.com/mvfxpublic/pages/templates/%s/media' % (template_id) %}

    {% set RESPONSIVE_SIZES_MOBILE = [640, 960] %}
    {% set RESPONSIVE_SIZES_DESKTOP = [1280, 1920, 2560] %}
    {% set RESPONSIVE_SIZES = RESPONSIVE_SIZES_MOBILE + RESPONSIVE_SIZES_DESKTOP %}

    <main class="DaVinciResolve">
    	<section class="header bg--dark">
			<div class="header__bg" style="opacity:1">
    			<div class="image__background">
					<div class="img-lazy" style="
						  background: #000 center /cover no-repeat;
						">
						<div class="placeholder" style="
							  padding-bottom: calc(36.45%);
							  background-size: cover;
						  "></div><img alt="Two video editors sitting in front of a monitor, deciding on the course of action, monitor displays editor interface with preview of a short Interstellar Quest"
							data-src="data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAADAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAUI/8QAGxABAAIDAQEAAAAAAAAAAAAAAQACESExAwT/xAAVAQEBAAAAAAAAAAAAAAAAAAABAv/EABgRAQEAAwAAAAAAAAAAAAAAAAEAAhEx/9oADAMBAAIRAxEAPwDNXzet6tsPKqa5qTGyqq5YiXk7CXt//9k="
							data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mobile_top-640.jpg 640w, https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mobile_top-820.jpg 820w, https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mobile_top-1024.jpg 1024w, https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/top_3-1200.jpg 1200w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/top_3-1800.jpg 1800w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/top_3_2560.jpg 2560w"
							sizes="(max-width:1000px) 250vw, 100vw">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row text">
					<div class="col-12 col-md-8">
						<div class="header__content">
							<div class="header__logo">
								<div class="img-lazy" style="
						  
						">
									<div class="placeholder" style="
							  padding-bottom: calc(64 / 64 * 100%);
							  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAABk0lEQVQYlWNgYGBgaOmbyfD//38Q5vj//z87FHP8//+fOSKjEizH0NI/i2HnvsN+pS2T72RU9b7ILel4nlPc/jyzpu95fv2EJ6s37cz2jitkAKsuaZp4R9464r+GY8J/paL+/6o1M/5ruab+l7OO/J9Y3Prt////EiCFnKll7S9UHWL/mwZm/9G7+Piv1dnPf63Dyv+oOyX890uu+Pru9QsdsLvSy9ufy1vF/ld1SvubMm/Nv9K5u/9remT+k3dK+B+YXPHt/ZsXWmCFcbmtz10Tg//vOlfzd+nqOf9nT5/7/2z7zH9JjnH/3RNLvn17/RyskDMkuelFZpPd////zf9MnJb2ry634N//ypi/s228/zvE5H/9+OS+Nkghc0pBwxNZY6f/Ecl2/9VtPP/LGfv8j3Nz+69u4PLfP7Ho1/9fH+UZwpKyGWYvWJIbllz83do365t7RPY3z6is79YhWV994/J+T5g2p49BSAsSPN6RKQz//72XfHTvjM7tGxe0bl67qP3k2lmdn28eKzCJ6YMDHAD1p+RV9jQWkgAAAABJRU5ErkJggg==) center no-repeat;
							  background-size: cover;
						  "></div><img alt="Icon logo of DaVinci Resolve"
										data-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAABk0lEQVQYlWNgYGBgaOmbyfD//38Q5vj//z87FHP8//+fOSKjEizH0NI/i2HnvsN+pS2T72RU9b7ILel4nlPc/jyzpu95fv2EJ6s37cz2jitkAKsuaZp4R9464r+GY8J/paL+/6o1M/5ruab+l7OO/J9Y3Prt////EiCFnKll7S9UHWL/mwZm/9G7+Piv1dnPf63Dyv+oOyX890uu+Pru9QsdsLvSy9ufy1vF/ld1SvubMm/Nv9K5u/9remT+k3dK+B+YXPHt/ZsXWmCFcbmtz10Tg//vOlfzd+nqOf9nT5/7/2z7zH9JjnH/3RNLvn17/RyskDMkuelFZpPd////zf9MnJb2ry634N//ypi/s228/zvE5H/9+OS+Nkghc0pBwxNZY6f/Ecl2/9VtPP/LGfv8j3Nz+69u4PLfP7Ho1/9fH+UZwpKyGWYvWJIbllz83do365t7RPY3z6is79YhWV994/J+T5g2p49BSAsSPN6RKQz//72XfHTvjM7tGxe0bl67qP3k2lmdn28eKzCJ6YMDHAD1p+RV9jQWkgAAAABJRU5ErkJggg=="
										data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/dvr-320.png 320w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/dvr-630.png 630w"
										sizes="64px">
								</div>
							</div>
							<h1 class="section__title">We’re adding products
                            for DaVinci Resolve!</h1>
							<div class="section__text">What if we showed you how to seamlessly combine the endless
								possibilities of
								MotionVFX’s products with the industry’s one software tool for all things editing,
								including color
								correction, visual effects, motion graphics and audio post production?</div>
						</div>
						<div class="section__text__sub">To use our plugins, make sure you have the newest version of DaVinci Resolve <a class="text__link"
								href="https://www.blackmagicdesign.com/products/davinciresolve/"
								target="_blank" rel="noopener noreferrer">installed</a> (macOS and Windows supported).</div>
					</div>
				</div>
			</div>
		</section>
		<div class="gradient"></div>
		<section class="section section--plugins">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section__head text-center">
    						<h2 class="section__title">Creative tools to make your video look professional</h2>
    						<!--<h2 class="section__title">Plug-ins now created for DaVinci Resolve</h2>-->
							<p class="section__text">Enhance your workflow with these quality plugins for DaVinci Resolve.</p>
						</div>
						<div class="product-list-wrapper">
							<div class="product-list" id="productList">
								<div class="container site-content container-lg" id="productListContainer">
									<div class="row product-grid" id="productsContainer">
                                        {#
										    {% set product_ids = [3625, 3626, 3627] %}
										    {% with products=get_products(product_ids), hide_favorite_btn=true %}
                                        #}
                                        {# {% with products=get_products_with_favorite(user=request.user, filters={'subtype_id__in':[11]}, items_per_page=3) %}
										    {% include 'product/product_grid.jinja2' %}
										{% endwith %} #}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--<div class="col-12 text-center"><a class="btn btn-more" href="http://" target="_blank"-->
					<!--        rel="noopener noreferrer">more</a></div>-->
					<div class="col-12 text-center"><a class="btn btn-more--2" href="/store,plugins-davinci-resolve,2,11.html">More<img
								class="enjoy__more-arrow" src="/static/svg/arrow2-right.svg" alt="more"></a></div>
				</div>
			</div>
		</section>
		<section class="section section--baubles">
			<div class="container">
				<div class="row text align-items-center">
					<div class="col-lg-6">
						<div class="section__head">
							<h2 class="section__title">You gave us the challenge…
								SO WE DID IT!</h2>
							<p class="section__text">You asked, we delivered, and now it’s official. A range of
								MotionVFX solutions is now available for DaVinci Resolve, and the number of stunning
								presets for your beautiful postprod effects is raising by the day!</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="baubles">
							<p class="bauble" data-index="0" data-level="2" style="--bauble-index: 0">I’m using Final
								Cut Pro.
								Love your plugins!
								You should make them work in DaVinci Resolve also.</p>
							<p class="bauble" data-index="1" data-level="1" style="--bauble-index: 1">I would like
								MotionVFX plugins for DaVinci Resolve too!</p>
							<p class="bauble" data-index="2" data-level="2" style="--bauble-index: 2">Please tell me
								you’re going to start making plugins and templates for Resolve.</p>
							<p class="bauble" data-index="3" data-level="3" style="--bauble-index: 3">Can you guys also
								make DaVinci Resolve plugins?</p>
						</div>
					</div>
				</div>
			</div>
		</section>
        <section class="section pt-0" style="position: relative">
            <a class="nav" name="testimonials" style="
                position: absolute;
                padding-top: 5rem;
                width: 100%;
                bottom: 100%
            "></a>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="yt embed-responsive embed-responsive-16by9">
                            <iframe id="ytTrailer" src="https://www.youtube.com/embed/E484X-vfWOU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg--dark text--light slider carousel slide carousel-fade" id="carouselSection"
			data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
			<div class="slider__bg">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="img-lazy" style="
						  
						">
							<div class="placeholder" style="
							  padding-bottom: calc(1150 / 2400 * 100%);
							  background: url(data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAEAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAYH/8QAHRAAAgIBBQAAAAAAAAAAAAAAAQIAESEDBRJRkf/EABUBAQEAAAAAAAAAAAAAAAAAAAID/8QAGREAAgMBAAAAAAAAAAAAAAAAAAECAyME/9oADAMBAAIRAxEAPwDC95A1EcMKCICKxmiZOc27HgiJfpesgVrOJ//Z) center no-repeat;
							  background-size: cover;
						  "></div><img data-src="data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAEAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAYH/8QAHRAAAgIBBQAAAAAAAAAAAAAAAQIAESEDBRJRkf/EABUBAQEAAAAAAAAAAAAAAAAAAAID/8QAGREAAgMBAAAAAAAAAAAAAAAAAAECAyME/9oADAMBAAIRAxEAPwDC95A1EcMKCICKxmiZOc27HgiJfpesgVrOJ//Z"
								data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mTuber_slide-2-320.jpg 320w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mTuber_slide-2-640.jpg 640w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mTuber_slide-2-960.jpg 960w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mTuber_slide-2-1200.jpg 1200w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mTuber_slide-2-1800.jpg 1800w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mTuber_slide-2-2400.jpg 2400w"
								sizes="">
						</div>
					</div>
					<div class="carousel-item ">
						<div class="img-lazy" style="
						  
						">
							<div class="placeholder" style="
							  padding-bottom: calc(1150 / 2400 * 100%);
							  background: url(data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAEAAoDASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAb/xAAhEAACAQQABwAAAAAAAAAAAAABAgMABAURBhIhMUFRYf/EABUBAQEAAAAAAAAAAAAAAAAAAAQF/8QAGBEAAwEBAAAAAAAAAAAAAAAAAAEDEgL/2gAMAwEAAhEDEQA/AIzB8O2MFhG6CQvIkchYsO50D4+mr18Rj4naMWcbBTy7JOzr31pSp828j68rR//Z) center no-repeat;
							  background-size: cover;
						  "></div><img data-src="data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAEAAoDASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAb/xAAhEAACAQQABwAAAAAAAAAAAAABAgMABAURBhIhMUFRYf/EABUBAQEAAAAAAAAAAAAAAAAAAAQF/8QAGBEAAwEBAAAAAAAAAAAAAAAAAAEDEgL/2gAMAwEAAhEDEQA/AIzB8O2MFhG6CQvIkchYsO50D4+mr18Rj4naMWcbBTy7JOzr31pSp828j68rR//Z"
								data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_mTitleCinematic_slide-1-320.jpg 320w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_mTitleCinematic_slide-1-640.jpg 640w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_mTitleCinematic_slide-1-960.jpg 960w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_mTitleCinematic_slide-1-1200.jpg 1200w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_mTitleCinematic_slide-1-1800.jpg 1800w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_mTitleCinematic_slide-1-2400.jpg 2400w"
								sizes="">
						</div>
					</div>
					<div class="carousel-item ">
						<div class="img-lazy" style="
						  
						">
							<div class="placeholder" style="
							  padding-bottom: calc(1150 / 2400 * 100%);
							  background: url(data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAEAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAYH/8QAHRAAAgIBBQAAAAAAAAAAAAAAAQIAESEDBRJRkf/EABUBAQEAAAAAAAAAAAAAAAAAAAID/8QAGREAAgMBAAAAAAAAAAAAAAAAAAECAyME/9oADAMBAAIRAxEAPwDC95A1EcMKCICKxmiZOc27HgiJfpesgVrOJ//Z) center no-repeat;
							  background-size: cover;
						  "></div><img data-src="data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAEAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAYH/8QAHRAAAgIBBQAAAAAAAAAAAAAAAQIAESEDBRJRkf/EABUBAQEAAAAAAAAAAAAAAAAAAAID/8QAGREAAgMBAAAAAAAAAAAAAAAAAAECAyME/9oADAMBAAIRAxEAPwDC95A1EcMKCICKxmiZOc27HgiJfpesgVrOJ//Z"
								data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_m16mm_slide-3-320.jpg 320w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_m16mm_slide-3-640.jpg 640w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_m16mm_slide-3-960.jpg 960w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_m16mm_slide-3-1200.jpg 1200w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_m16mm_slide-3-1800.jpg 1800w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/2_m16mm_slide-3-2400.jpg 2400w"
								sizes="">
						</div>
					</div>
				</div>
			</div>
			<div class="slider__content">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 offset-lg-6">
							<div class="section__head">
								<div class="carousel-indicators"><button class="active" type="button"
										data-bs-target="#carouselSection" data-bs-slide-to="0" aria-current="true"
										aria-label="Slide 1">mtuber 2</button><button type="button"
										data-bs-target="#carouselSection" data-bs-slide-to="1" aria-current="false"
										aria-label="Slide 2">mtitle cinematic</button><button type="button"
										data-bs-target="#carouselSection" data-bs-slide-to="2" aria-current="false"
										aria-label="Slide 3">m16mm</button></div>
								<div class="carousel-inner__text">
									<div class="carousel-item__text active" data-index="0">
										<h2 class="section__title" style="--text-index: 0">Captivate your viewers</h2>
										<p class="section__text" style="--text-index: 1">Every influencer knows how
											important it is to keep your content beautiful and interesting. These
											diversified, pre-animated, and carefully selected tools give you a range of
											possibilities to boost your channel's visual side and push it in the right
											direction.</p>
										<a class="btn btn-more--2 mtuber btn-more--transparent" href="https://www.motionvfx.com/store,mtuber-2-dvr,p3626.html">more<img
												class="enjoy__more-arrow" src="/static/svg/arrow2-right.svg"
												alt="more"></a>
									</div>
									<div class="carousel-item__text " data-index="1">
										<h2 class="section__title" style="--text-index: 0">The iconic look of the movie credits</h2>
										<p class="section__text" style="--text-index: 1">A collection of refined and
											well-designed
											typography presets to give the edit a truly cinematic vibe. These animated
											captions will adorn any
											project with modern motion design and turn it into a genuine masterpiece.
										</p><a class="btn btn-more--2 btn-more--transparent" href="https://www.motionvfx.com/store,mtitle-cinematic-dv,p3625.html">more<img
												class="enjoy__more-arrow" src="/static/svg/arrow2-right.svg"
												alt="more"></a>
									</div>
									<div class="carousel-item__text " data-index="2">
										<h2 class="section__title" style="--text-index: 0">Stunning nostalgic
											stylizations</h2>
										<p class="section__text" style="--text-index: 1">Surprise your audience with
											sensational
											retro-inspired video effects and evoke memories and emotions. Stand out from
											the crowd with a
											unique sentimental touch in your works and make your viewers travel in time.
										</p><a class="btn btn-more--2 btn-more--transparent" href="https://www.motionvfx.com/store,m16mm-dv,p3627.html">more<img
												class="enjoy__more-arrow" src="/static/svg/arrow2-right.svg"
												alt="more"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="gradient__bg text--light bg--dark">
			<div class="background">
				<div class="gradient-floating">
					<div class="circle blue"></div>
					<div class="circle red"></div>
				</div>
			</div>

			<a class="nav" xname="tutorial" style="position: relative; top: -3rem;"></a>
			<section class="tutorials">

				<div class="container">
					<div class="row text">
						<div class="col-lg-6 pr-lg-5">
							<h2 class="section__title">Improve your skills and learn about essential tips & tricks</h2>
						</div>
						<div class="col-lg-6" style="margin-top: 0.4rem">
							<div class="section__text">
								<p style="max-width: Min(100%, 32em)">Welcome to MotionVFX Academy, the perfect support for beginner editors and video editing professionals alike. Create even better edits of your videos and take full advantage of the capabilities of our products.</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="container container-playlist">
					<div id="playlist" class="row yt-playlist">
						<div class="col col-12 col-lg-8 col-xl-9 yt-content"></div>
						<div class="col col-12 col-lg-4 col-xl-3 yt-menu-wrapper">
							<div class="yt-menu-wrapper-inner">
								<div class="yt-menu"></div>
							</div>
						</div>
					</div>
				</div>

			</section>
			<section class="section section--free">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-md-5">
							<div class="img-lazy" style="
						  
						">
								<div class="placeholder" style="
							  padding-bottom: calc(721 / 1280 * 100%);
							  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA/ElEQVQImWM4H+7J8MhRh+Glux7fjLQMV2e/GIuo2Aj9yNQEqdyiaQxuaokMEblhDAy3gwKZ/ieEMPxPCbXINfP8b2jm8r8i2v2/s6HJqnPZmgy/aswZpVWMGBiOhmQw/U8qYPifUmSaYhb0y8Qh6ndIQMJ/TVW7LT1Z8QwXl/cwCIqaMjAsym5jutw0m+FsyzzTCJek34YW4T/zc1r/u/ikb/7//z8DCLMKGjEwFPWvZmrb/5ChacdtCz/fxP/68ob/DYz8/6uqu2yqqZrIsG35DgZBURMGBv/WOQyBe28wBO+6zm/uGZmuIKUewsCoZM3AIKPAAAW8gjoMAMjhWMAd40TJAAAAAElFTkSuQmCC) center no-repeat;
							  background-size: cover;
						  "></div><img alt="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/box_free.png"
									data-src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA/ElEQVQImWM4H+7J8MhRh+Glux7fjLQMV2e/GIuo2Aj9yNQEqdyiaQxuaokMEblhDAy3gwKZ/ieEMPxPCbXINfP8b2jm8r8i2v2/s6HJqnPZmgy/aswZpVWMGBiOhmQw/U8qYPifUmSaYhb0y8Qh6ndIQMJ/TVW7LT1Z8QwXl/cwCIqaMjAsym5jutw0m+FsyzzTCJek34YW4T/zc1r/u/ikb/7//z8DCLMKGjEwFPWvZmrb/5ChacdtCz/fxP/68ob/DYz8/6uqu2yqqZrIsG35DgZBURMGBv/WOQyBe28wBO+6zm/uGZmuIKUewsCoZM3AIKPAAAW8gjoMAMjhWMAd40TJAAAAAElFTkSuQmCC"
									data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/box_free-320.png 320w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/box_free-640.png 640w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/box_free-960.png 960w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/box_free-1200.png 1200w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/box_free-1280.png 1280w"
									sizes="(max-width: 768px) 100vw, 960px">
							</div>
						</div>
						<div class="col-md-7">
							<div class="section__head">
								<h2 class="section__title">Have a taste of MotionVFX quality with this free pack for DaVinci Resolve!
								</h2>
								<p class="section__text">See how you can elevate your work with these diversified sample
									tools.</p><a class="btn btn-pink"
									href="https://www.motionvfx.com/store,mhellodv,p3607.html" target="_blank"
									rel="noopener noreferrer">Get it free</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--packs">
				<div class="container">
					<div class="row text align-items-center">
						<div class="col-md-6">
							<div class="section__head">
								<div class="os-icons">
									<div class="os-icon apple"><svg viewbox="0 0 23 28" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M22.2 19.3C21.3 18.8 19.5 17.7 19.5 14.8C19.5 12.4 21.1 11.2 22 10.5L22.6 10L22.2 9.40002C20.4 6.70002 17.3 6.40002 16.3 6.40002C15 6.40002 13.8 6.90002 12.9 7.20002C12.5 7.40002 12 7.60002 11.8 7.60002C11.5 7.60002 10.8 7.40002 10.2 7.10002C9.3 6.80002 8.3 6.40002 7.4 6.40002C5.4 6.40002 0 7.90002 0 15C0 19.5 3.5 28 7.6 28C8.6 28 9.6 27.7 10.4 27.4C11 27.2 11.6 27 12 27C12.9 27 13.4 27.2 14 27.5C14.6 27.8 15.3 28 16.3 28C20.3 28 23 20.7 23 20.3C23 19.7 22.6 19.5 22.2 19.3Z"
												fill="white"></path>
											<path
												d="M16.6998 0C14.0998 0 10.9998 3.2 11.4998 6.1C14.1998 6.3 16.7998 3.7 16.6998 0Z"
												fill="white"></path>
										</svg></div>or <div class="os-icon windows"><svg viewbox="0 0 28 27" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path d="M0 12.2H12.2V1.90002L0 3.50002V12.2Z" fill="white"></path>
											<path d="M14 1.7V12.2H28V0L14 1.7Z" fill="white"></path>
											<path d="M14 24.5L28 26.2V14H14V24.5Z" fill="white"></path>
											<path d="M0 22.7L12.2 24.3V14H0V22.7Z" fill="white"></path>
										</svg></div>
								</div>
								<h2 class="section__title">All plugins work perfectly on DaVinci Resolve’s free version on both macOS and Windows</h2>
								<p class="section__text">Our products empower professionals and enthusiasts alike across
									the global
									community of video editors. With multi-platform capabilities, you can handle complex
									motion graphics
									tasks more efficiently than ever before. And the results are breathtaking!</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="packs__image__comp">
								<div class="image__comp__wrapper" style="--comp-index: 1">
									<div class="img-lazy" style="
						  
						">
										<div class="placeholder" style="
							  padding-bottom: calc(721 / 1280 * 100%);
							  background: url(data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAGAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAEI/8QAHxAAAgECBwAAAAAAAAAAAAAAAQIAAwQREhQxU5Lh/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAH/xAAXEQEAAwAAAAAAAAAAAAAAAAAAAREx/9oADAMBAAIRAxEAPwDN9pme3amHCLjuFBMuiXkPX2IidS3/2Q==) center no-repeat;
							  background-size: cover;
						  "></div><img data-src="data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAGAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAEI/8QAHxAAAgECBwAAAAAAAAAAAAAAAQIAAwQREhQxU5Lh/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAH/xAAXEQEAAwAAAAAAAAAAAAAAAAAAAREx/9oADAMBAAIRAxEAPwDN9pme3amHCLjuFBMuiXkPX2IidS3/2Q=="
											data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-3-320.jpg 320w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-3-640.jpg 640w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-3-960.jpg 960w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-3-1200.jpg 1200w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-3-1800.jpg 1800w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-3-2400.jpg 2400w"
											sizes="(max-width: 768px) 200vw, 50vw">
									</div>
								</div>
								<div class="image__comp__wrapper" style="--comp-index: 2">
									<div class="img-lazy" style="
						  
						">
										<div class="placeholder" style="
							  padding-bottom: calc(721 / 1280 * 100%);
							  background: url(data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAGAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAII/8QAHBAAAgICAwAAAAAAAAAAAAAAAhEAAQQSUWFx/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAL/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDN1kJ4xgdU26LV34+JK7iJQ//Z) center no-repeat;
							  background-size: cover;
						  "></div><img data-src="data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAGAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAII/8QAHBAAAgICAwAAAAAAAAAAAAAAAhEAAQQSUWFx/8QAFQEBAQAAAAAAAAAAAAAAAAAAAAL/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDN1kJ4xgdU26LV34+JK7iJQ//Z"
											data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-2-320.jpg 320w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-2-640.jpg 640w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-2-960.jpg 960w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-2-1200.jpg 1200w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-2-1800.jpg 1800w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-2-2400.jpg 2400w"
											sizes="(max-width: 768px) 200vw, 50vw">
									</div>
								</div>
								<div class="image__comp__wrapper" style="--comp-index: 3">
									<div class="img-lazy" style="
						  
						">
										<div class="placeholder" style="
							  padding-bottom: calc(721 / 1280 * 100%);
							  background: url(data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAGAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAUH/8QAHhAAAgEEAwEAAAAAAAAAAAAAAQIDABESMQQFISL/xAAUAQEAAAAAAAAAAAAAAAAAAAAC/8QAFhEBAQEAAAAAAAAAAAAAAAAAAAEx/9oADAMBAAIRAxEAPwDHujaQ85eTGsDCN0vDKmSMBckH3R0dVMnbKeRh83YnFfAPdClKYza//9k=) center no-repeat;
							  background-size: cover;
						  "></div><img data-src="data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAGAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAUH/8QAHhAAAgEEAwEAAAAAAAAAAAAAAQIDABESMQQFISL/xAAUAQEAAAAAAAAAAAAAAAAAAAAC/8QAFhEBAQEAAAAAAAAAAAAAAAAAAAEx/9oADAMBAAIRAxEAPwDHujaQ85eTGsDCN0vDKmSMBckH3R0dVMnbKeRh83YnFfAPdClKYza//9k="
											data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-1-320.jpg 320w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-1-640.jpg 640w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-1-960.jpg 960w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-1-1200.jpg 1200w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-1-1800.jpg 1800w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/packs-1-2400.jpg 2400w"
											sizes="(max-width: 768px) 200vw, 50vw">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="footer text--light">
				<div class="image__background">
					<div class="img-lazy" style="
						  
						">
						<div class="placeholder" style="
							  padding-bottom: calc(721 / 1280 * 100%);
							  background: url(data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAFAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAYI/8QAHhAAAgIABwAAAAAAAAAAAAAAAQMAAgUREhQhIsH/xAAVAQEBAAAAAAAAAAAAAAAAAAACA//EABgRAQADAQAAAAAAAAAAAAAAAAEAAgMR/9oADAMBAAIRAxEAPwDPOILUrdGqVcHVXoM6k+SbiIrKyWJyhP/Z) center no-repeat;
							  background-size: cover;
						  "></div><img alt="Woman in studio, sitting in front of a work desk, reading project briefing"
							data-src="data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAFAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAYI/8QAHhAAAgIABwAAAAAAAAAAAAAAAQMAAgUREhQhIsH/xAAVAQEBAAAAAAAAAAAAAAAAAAACA//EABgRAQADAQAAAAAAAAAAAAAAAAEAAgMR/9oADAMBAAIRAxEAPwDPOILUrdGqVcHVXoM6k+SbiIrKyWJyhP/Z"
							data-srcset="https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mobile_footer-640.jpg 640w, https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mobile_footer-820.jpg 820w, https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/mobile_footer-1024.jpg 1024w, https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/footer-1200.jpg 1200w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/footer-1800.jpg 1800w,https://s3.motionvfx.com/mvfxpublic/pages/templates/57/media/footer-2400.jpg 2400w"
							sizes="(max-width: 512px) 100vw, (max-width: 1600px) 200vw, 100vw">
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-7 offset-lg-5 text-center text-md-left">
							<div class="footer__content">
								<div class="section__head">
									<h2 class="footer__title section__title">Now you can apply the very expertise that Hollywood studios use to your everyday editing</h2>
                                    <style>
                                    @media (max-width: 500px) {
                                    .footer .footer__text.section__text {
                                        white-space: normal;   
                                    }
                                    }
                                    </style>
									<p class="footer__text section__text" style="">We are continually working on further products,
                                    so stay tuned for new arrivals!</p>


									<a class="btn btn-more--2 btn-more--transparent" target="_blank"
										href="https://www.motionvfx.com/#joinNewsletterContainer">Subscribe to our
										newsletter<img class="enjoy__more-arrow" src="/static/svg/arrow2-right.svg"
											alt="more"></a>


									<ul class="list-unstyled list-inline social__icons">
										<li class="list-inline-item"><a href="https://www.facebook.com/motionvfx"
												target="_blank" rel="noopener noreferrer" title="facebook"><i
													class="icon-facebook">&#xf09a;</i></a></li>
										<li class="list-inline-item"><a href="https://twitter.com/motionVFX"
												target="_blank" rel="noopener noreferrer" title="twitter"><i
													class="icon-twitter">&#xf099;</i></a></li>
										<li class="list-inline-item"><a href="https://www.instagram.com/motionvfx"
												target="_blank" rel="noopener noreferrer" title="instagram"><i
													class="icon-instagram">&#xf16d;</i></a></li>
										<li class="list-inline-item"><a href="https://www.youtube.com/motionVFXcom"
												target="_blank" rel="noopener noreferrer" title="youtube"><i
													class="icon-youtube">&#xf16a;</i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>



	</main>
    
{# {% include './components/submenu.jinja' %} #}
<script src="static/js/commons.js"></script>
<script src="static/js/core.js"></script>
{# <script src="static/js/runtime.js"></script> #}
{# <script src="scripts/vendor/TweenMax.min.js"></script> #}
{# <script src="dist/scripts.js"></script> #}
{# <script src="scripts/vendor/scroll_to_anchor.js" defer></script> #}

{% set js_links  = [
        'https://s3.motionvfx.com/mvfxpublic/pages/templates/57/js/youtube3.js',
        'https://s3.motionvfx.com/mvfxpublic/pages/templates/57/js/vendorsmain.js',
        'https://s3.motionvfx.com/mvfxpublic/pages/templates/57/js/runtime.js',
        'https://s3.motionvfx.com/mvfxpublic/pages/templates/57/js/main.js',
    ] %}

    {% for jl in js_links %}
    <script src="{{ jl }}?response-content-type=application/javascript"></script>
    {% endfor %}


</body>
</html>
