<!DOCTYPE html>
<html lang="en">
{% include './components/head.jinja' %}

<body>
    {% include './components/nav.jinja' %}
    {# {% include './components/macro.jinja' %} #}
    {# {% include './components/bundle-popup.jinja' %} #}

    {% set srcsetSizesMobile = [
        640,
        960
    ] %}

    {% set srcsetSizesDesktop = [
        1280,
        1920,
        2560
     ] %}

     {% set srcsetSizes = srcsetSizesMobile + srcsetSizesDesktop %}


    {% set templateId = '1389' %}
    {% set refresh = 3 %}
    {% set imagePrefix = 'mTransitionDatamosh' %}
    
    {% set media_prefix = 'mLut_Restyle_' %}
    {% set mediaUrl = 'https://s3.motionvfx.com/mvfxpublic/products/templates/%s/media' % (templateId) %}

    {% set data = {
        'header': {
            'subtitle': 'Powerful Typography Presets for DaVinci Resolve'
        },
        'trailer': {
            'title': 'Watch trailer',
            'text': 'See how these gradings evoke emotions and play with the aesthetic senses of the viewers.'
        },
        'tutorial': {
            'title': 'Watch tutorial',
            'text': 'Get some helpful know-how on using the LUTs and tailoring them to your taste to get the best results.'
        },
        'promo': {
            'subtitle': 'CREATE THE MOOD AND SET THE OVERTONE',
            'title': 'STARTLE THE SPECTATOR WITH UNIQUE LOOKS',
            'text': 'Every preset is extraordinary in its own way, playing with the very definitions of colors and switching the focus of different tints in the whole composition.',
        },
        'promo-comp-0': {
            'subtitle': 'BREAK THE RULES, TRANSGRESS THE PATTERNS',
            'title': 'OUT-OF-THE-BOX GRADING TO RESTYLE YOUR EDIT',
        },
        'prevs': {
            'title': 'MLUT RESTYLE PREVIEW',
        },
        'promo-comp-1': {
            'subtitle': 'GO CRAZY WITH CREATIVITY',
            'title': 'OFFBEAT & OFF-THE-WALL QUALITY',
            'text': 'This fantastic collection of out-there gradings will completely transform the character of your videos and make your edits exciting and entertaining.',
        },
        'footer': {
            'title': 'LUTS LIKE NO OTHER',
            'text': 'Take your editing to the next level and have fun with the gradings that change your shots’ expression entirely. Move the senses, inspire and amaze the viewer with originality and freshness!'
        }
    } %}

    {% set placeholder = 'https://via.placeholder.com' %}

    {% macro picture(
		media_url,
		filename,
		media_files={},
		file_sizes=[360, 480, 640, 960],
		formats=['webp','jpg'],
		media_sizes='',
		media='',
		alt='',
		img_class='',
		img_style='',
		picture_class='',
		width='',
		height='',
        loading='',
        data_src=False
	) %}
		<picture class="{{ picture_class }}">
			{% for media in media_files %}
				{% set m = media_files[media] %}
				{% for format in formats %}
					<source
						srcset="
							{% for size in m['file_sizes'] %}
								{{ media_url }}/{{ m['filename'] }}-{{ size }}.{{ format }} {{size}}w,
							{% endfor %}"
						type="image/{{ format | replace('jpg', 'jpeg') }}"
						sizes="{{ m['media_sizes'] | default(media_sizes) }}"
						media="{{ media }}"
					>
				{% endfor %}
			{% endfor %}
			{% for format in formats %}
				<source
					srcset="
						{% for size in file_sizes %}
							{{ media_url }}/{{ filename }}-{{ size }}.{{ format }} {{size}}w,
						{% endfor %}"
					type="image/{{ format | replace('jpg', 'jpeg') }}"
					sizes="{{ media_sizes }}"
					media="{{ media }}">
			{% endfor %}
			<img
                {% if data_src %}
                    data-src="{{ media_url }}/{{ filename }}-{{ file_sizes[0] }}.{{ formats[-1] }}"
                {% else %}
                    src="{{ media_url }}/{{ filename }}-{{ file_sizes[0] }}.{{ formats[-1] }}"
                {% endif %}
				alt="{{alt}}"
				class="{{img_class}}"
				style="{{img_style}}"
				width="{{width}}"
				height="{{height}}"
                loading="{{loading}}"
                >

		</picture>
	{% endmacro %}

    <style>
        .promo-comp-0 .section__title > .word {
            white-space: nowrap; 
        }
    </style>

    <main>
        <section class="header text-center">
            <div class="header__bg image__background" style="--h-index: 0;">
                <picture class="on-mobile">
                    <source media="(max-width: 960px)" srcset="{{mediaUrl}}/{{media_prefix}}top-m-raw.jpg">
                    <img
                        src=""
                    >
                </picture>
                <div class="carousel slide carousel-fade fade-new" data-ride="carousel" data-interval="3000" >
                    <div class="carousel-inner">
                        {% for i in range(1, 6) %}
                            {% set image_name = 'top_%s' % (i) %}
                            {% set active = 'active' if loop.index==1 else '' %}
                            
                            {{picture(
                                media_url=mediaUrl,
                                filename=media_prefix + image_name,
                                file_sizes=srcsetSizes,
                                formats=['jpg', 'webp'],
                                picture_class='carousel-item ' + active,
                                width=2560,
                                height=860
                            )}}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="header__content section__text__content">
                    <div class="header__logo" data-title="true" style="--h-index: 0;">
                        <h2 class="logotype">
                            <img src="{{mediaUrl}}/{{media_prefix}}logo-raw.png" alt="mLutRestyle" srcset=""
                                width="984"
                                height="750"
                            >
                        </h2>
                    </div>
                </div>
                
                <h1 class="header__subtitle section__text" style="--h-index: 1;">
                    {% autoescape off %} {{product.head_info}} {% endautoescape %}
                </h1>
            </div>

        </section>
        <section class="works-on center">
            <div class="section__text secuence">
                Works perfectly with any compositing app
            </div>
            <picture>
                <source media="(max-width: 800px)" srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1308/media/software_icons_mobile-770.png 768w">
                <img class="secuence" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1308/media/software_icons-1680.png" width="1341" height="77" alt="3D LUTs are supported by any compositing software.">
            </picture>
        </section>

        <script>
            const onHeaderImagesLoaded = (type) => {
                let images
                const isMobile = type === 'mobile'

                const header = document.querySelector('section.header')
                images = isMobile
                    ? Array.from(header.querySelectorAll('.on-mobile img'))
                    : Array.from(header.querySelectorAll('.carousel-item img'))
                const loadedImages = images.map(img => false);
                images.forEach((img, idx) => {
                    loadedImages[idx] = img.complete;

                    if (loadedImages.every(val => val)) {
                        header.classList.add("loaded")
                    }
                    img.onload = () => {
                        loadedImages[idx] = true
                        if (loadedImages.every(val => val)) {
                            header.classList.add("loaded")
                        }
                    }
                })
            }

            const mM = (x) => {
                if (x.matches) {
                    onHeaderImagesLoaded('mobile')
                } else {
                    onHeaderImagesLoaded('desktop')
                }
            }
            const wMQ = window.matchMedia("(max-width: 960px)")
            mM(wMQ);
            wMQ.addListener(mM);
        </script>

        <div class="scroll-prompt" style="--h-index: 2; opacity: 0;">
            <a class="scroll-to-btn" href="#" onclick="scrollToAnchor('trailer');" tabindex="-1"></a>
        </div>

        <a class="nav" name="trailer"></a>

        {% set trailerUrl = 'https://www.youtube.com/embed/o5YUZ38JEjE?rel=0' %}

        <section class="video trailer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section__content">
                            <div class="section__head">
                                <div class="section__title">
                                    {% autoescape off %} {{data.trailer.title}} {% endautoescape %}
                                </div>
                                <p class="section__text secuence">
                                    {% autoescape off %} {{data.trailer.text}} {% endautoescape %}
                                </p>
                            </div>
                        </div>
                        <div class="yt embed-responsive embed-responsive-16by9 animated animated--fade--bottom secuence">
                            <iframe loading="lazy" iframe src="{{trailerUrl}}"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" title="Watch Trailer"
                                style="background-color: #000"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <a class="nav" name="tutorial"></a>
        {% set tutorialUrl1 = 'https://www.youtube.com/embed/kpg__zfHuxE?rel=0' %}

        <section class="video tutorial">
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <div class="section__content">
                            <div class="section__head">
                                <p class="section__subtitle secuence" style="--s-index:0;">
                                    {{data.tutorial.subtitle}}
                                </p>
                                <div class="section__title ">
                                    {% autoescape off %} {{data.tutorial.title}} {% endautoescape %}
                                </div>
                                <p class="section__text secuence" style="--s-index:2;">
                                    {% autoescape off %} {{data.tutorial.text}} {% endautoescape %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="yt embed-responsive embed-responsive-16by9 animated animated--fade--bottom secuence">
                            <iframe loading="lazy" src="{{tutorialUrl1}}" frameborder="0"
                                allow="autoplay; encrypted-media" allowfullscreen="" title="Watch Tutorial"
                                style="background-color: #000"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% with slider_images=[
            {
                'src': 'oceanarium',
                'alt': 'string',
                'label': 'oceanarium 01'
            },
            {
                'src': 'camel',
                'alt': 'string',
                'label': 'camel 07'
            },
            {
                'src': 'isolator',
                'alt': 'string',
                'label': 'isolator 02'
            },
            {
                'src': 'aquation',
                'alt': 'string',
                'label': 'aquation 02'
            }
        ] %}
        <section class="promo promo-carousel">
            <div id="carouselPromo" class="secuence carousel slide carousel-fade fade-new">
                <div class="carousel-inner">
                {% for slide_img in slider_images %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    {% with slide_index = loop.index %}
                    <picture>
                        <img
                            class="w-100 d-block lazy-show"
                            width="2560"
                            height="1150"
                            data-src="{{mediaUrl}}/{{media_prefix}}{{slide_img.src}}-2560.jpg?{{refresh}}"
                            {# src="{{mediaUrl}}/{{media_prefix}}{{slide_img.src}}.jpg?{{refresh}}" #}
                            sizes="100vw">
                    </picture>
                    {% endwith %}
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="promo-carousel__content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section__content">
                                <div class="section__head">
                                    <div class="section__subtitle section__text--inset secuence" style="--s-index:0">{{data.promo.subtitle}}</div>
                                    <div class="section__title section__text--inset">{{data.promo.title}}</div>
                                    <div class="section__text section__text--inset secuence">
                                        {{data.promo.text}}
                                    </div>
                                    <div id="carouselPromoIndicators" class="carousel-indicators secuence" style="--s-index:2;">
                                        {% for image in slider_images %}
                                            <div class="carousel-indicators__item carousel-indicators__item--dash {% if loop.index == 1 %}active{% endif %}"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endwith %}

        <section class="promo promo-comp-0">
            <div class="promo-comp-0__mosaic">
                {% set sides = [
                    [
                        {
                            'image': {
                                'src': '0_1_a',
                                'width' : '550',
                                'height' : '550'
                            }
                        },
                        {
                            'image': {
                                'src': '0_2',
                                'src2': '0_2',
                                'width' : '600',
                                'height' : '600'
                            }
                        }
                    ], [
                        {
                            'image': {
                                'src': '0_3',
                                'src2': '0_3',
                                'width' : '500',
                                'height' : '280'
                            }
                        }
                    ]
                ] %}
                {% for side in sides %}
                    {% set side_index = loop.index %}
                    <div class="mosaic__side mosaic__side--{{side_index}}">
                        {% for i in side %}
                            {% if side_index == 2 %}
                                <div class="section__head">
                                    <div class="section__subtitle secuence" style="--s-index:0">
                                        {{data['promo-comp-0'].subtitle}}
                                    </div>
                                    <div class="section__title">
                                        {{data['promo-comp-0'].title}}
                                    </div>
                                </div>
                            {% endif %}
                            {% if i.image.src2 %}
                                {% if side_index == 2 %}
                                    <div class="carousel slide carousel-fade fade-new mosaic__item mosaic__item--{{side_index}}{{loop.index}}" data-ride="carousel" data-interval="3000">
                                        <div class="carousel-inner">
                                            {% for v in ['_a', '_b'] %}
                                                {% set active = 'active' if loop.index==1 else '' %}
                                                {{picture(
                                                    media_url=mediaUrl,
                                                    filename= media_prefix + i.image.src + v,
                                                    file_sizes=[500, 1000],
                                                    formats=['jpg', 'webp'],
                                                    media_sizes='(max-width: 750px) 100v, 33v',
                                                    img_class="lazy-show",
                                                    picture_class='carousel-item ' + active,
                                                    width=i.image.width,
                                                    height=i.image.height,
                                                    data_src=True
                                                )}}
                                            {% endfor %}
                                        </div>
                                    </div>

                                    {% else %}

                                    <div class="ba-slider mosaic__item mosaic__item--{{side_index}}{{loop.index}}">
                                        {% for v in ['_a', '_b'] %}
                                            {% if v == '_b' %}
                                                <div class="resize">
                                            {% endif %}
                                            {# mLut_Restyle_0_2_b-1200.jpg #}
                                            {{picture(
                                                media_url=mediaUrl,
                                                filename= media_prefix + i.image.src + v,
                                                file_sizes=[600, 1200],
                                                formats=['jpg', 'webp'],
                                                media_sizes='(max-width: 750px) 0v, 50v',
                                                img_class="lazy-show",
                                                width=i.image.width,
                                                height=i.image.height,
                                                data_src=True
                                            )}}

                                            {% if v == '_b' %}
                                                </div>
                                                <span class="handle"><span class="handle-control"></span></span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% else %}
                                {{picture(
                                    media_url=mediaUrl,
                                    filename= media_prefix + i.image.src,
                                    file_sizes=[500, 1000],
                                    formats=['jpg', 'webp'],
                                    media_sizes='(max-width: 1400px) 0v, 40v',
                                    img_class="lazy-show",
                                    picture_class='mosaic__item mosaic__item--' + side_index|string + loop.index|string,
                                    width=i.image.width,
                                    height=i.image.height,
                                    data_src=True
                                )}}
                            {% endif %}
                            
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
        </section>

        {% set luts = [
            'Violaceous',
            'Verdancy',
            'Tranquillity',
            'Thermovision',
            'Temperatus',
            'Synthesizer',
            'Spirited',
            'Souffle',
            'Seladon',
            'Sandstorm',
            'Rubicund',
            'Resplendent',
            'Prominence',
            'Permeation',
            'Penumbra',
            'Ochred',
            'Oceanarium',
            'Moonlighter',
            'Magentor',
            'Isolator',
            'Infrared',
            'Immersion',
            'Ferroton',
            'Etiolator',
            'Elysium',
            'Distinguisher',
            'Dechromatic',
            'Camel',
            'Aquation',
            'Aeration',
        ]
        %}

        <section class="prevs center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section__content">
                            <div class="section__head">
                                <div class="section__title">
                                    {{data.prevs.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="prevs__header">
                            <div class="prev-pagination secuence" style="--s-index:0">
                                <button class="button_prev" onclick="previousPage()">
                                    <
                                </button>
                                <div id="prevSiteInfo2">Page <span class="page-indicator current">1</span>/<span class="page-indicator total">10</span></div>
                                <button class="button_next" onclick="nextPage()">
                                    >
                                </button>
                            </div>
                        </div>
                        <div class="prevs__content">
                        {% for lut in luts %}
                        {% set filenameBase = mediaUrl + '/' + lut|lower() %}
                            <div class="prevs__item secuence" style="--s-index:{{loop.index}}">
                                <div class="lut-name">{{ lut }}</div>
                                <div class="prBeforeAfter">
                                    <div class="ba-slider">
                                        <img
                                            data-src="{{ filenameBase }}_after-raw.jpg"
                                            alt="" width="830"
                                            height="500"
                                        />
                                        <div class="resize">
                                            <img
                                                data-src="{{ filenameBase }}_before-raw.jpg"
                                                alt=""
                                                width="830"
                                                height="500"
                                            />
                                        </div>
                                        <span class="handle"><span class="handle-control"></span></span>
                                    </div>
                                </div>
                                <div class="lut-label">LOG FILE</div>
                                <div class="lut-label right">WITH LUT</div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="promo-comp-1">
            <div class="section__head comp__item--0">
                <div class="section__subtitle secuence" style="--s-index:0">
                    {{data['promo-comp-1'].subtitle}}
                </div>
                <div class="section__title">
                    {{data['promo-comp-1'].title}}
                </div>
                <div class="section__text secuence" style="--s-index:2">
                    {{data['promo-comp-1'].text}}
                </div>
            </div>

            <div class="carousel slide carousel-fade fade-new comp__item--1 secuence" style="--s-index:2" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    {% for v in ['_a', '_b'] %}
                        {% set active = 'active' if loop.index==1 else '' %}
                        {{picture(
                            media_url=mediaUrl,
                            filename= media_prefix + '1_1_1' + v,
                            file_sizes=[600, 1200],
                            formats=['jpg', 'webp'],
                            media_sizes='50v',
                            img_class="lazy-show",
                            picture_class='carousel-item ' + active,
                            width=600,
                            height=600,
                            data_src=True
                        )}}
                    {% endfor %}
                </div>
            </div>
            <div class="carousel slide carousel-fade fade-new comp__item--2 secuence" style="--s-index:1" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    {% for v in ['_a', '_b'] %}
                        {% set active = 'active' if loop.index==1 else '' %}
                        {{picture(
                            media_url=mediaUrl,
                            filename= media_prefix + '1_2_1' + v,
                            file_sizes=[500, 1000],
                            formats=['jpg', 'webp'],
                            media_sizes='(max-width: 1070px) 50v, 33v',
                            img_class="lazy-show",
                            picture_class='carousel-item ' + active,
                            width=463,
                            height=260,
                            data_src=True
                        )}}
                    {% endfor %}
                </div>
            </div>

            <div class="carousel slide carousel-fade fade-new comp__item--3 secuence" style="--s-index:3" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    
                    {% for n in ['1', '2'] %}
                        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                            <div class="ba-slider">
                                {% for v in ['_a', '_b'] %}
                                    {% if v == '_b' %}
                                        <div class="resize">
                                    {% endif %}

                                    {{picture(
                                        media_url=mediaUrl,
                                        filename= media_prefix + '1_3_' + n + v,
                                        file_sizes=[575, 1150],
                                        formats=['jpg', 'webp'],
                                        media_sizes='(max-width: 680px) 100v, 50v',
                                        img_class="lazy-show",
                                        width=1150,
                                        height=1150,
                                        data_src=True
                                    )}}

                                    {% if v == '_b' %}
                                        </div>
                                        <span class="handle"><span class="handle-control"></span></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <a class="nav" href="#" name="specs" rel="noopener noreferrer"></a>
        <section class="ts-mi bg--light">

            <div class="carousel slide carousel-fade fade-new deco" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    {% set image_name = 'tm' %}
                    {% set images = ['_a', "_b"] %}
                    {% for i in images %}
                    {% set active = 'active' if loop.index==1 else '' %}
                    {{picture(
                        media_url=mediaUrl,
                        filename= media_prefix + image_name + i,
                        file_sizes=[600, 1200],
                        formats=['jpg', 'webp'],
                        media_sizes='(max-width: 1700px) 600px, 1200px',
                        picture_class='carousel-item ' + active,
                        img_class="lazy-show",
                        width=600,
                        height=600,
                        data_src=True
                    )}}
                    {% endfor %}
                </div>
            </div>

            <section class="tech-spec">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="tech-spec-info">
                                <div class="section__text__content">
                                    <div class="section__head">
                                        <div class="section__title tech-spec__title section__title">
                                            Technical specifications
                                        </div>
                                    </div>
                                    <div class="ttable tech-spec__table">
                                        {# <div class="tcell tlabel">Supported software</div> #}
                                        {# <div class="tcell tdata"> #}
                                            {# <h3 class="section__text"> #}
                                                {# {% autoescape off %} #}
                                                    {# {{ product.productdetails.minimal_requirements.replace('FCP 10', 'FCP 10').replace('Motion 5', 'Motion 5').replace(', ', ',<br>') }} #}
                                                {# {% endautoescape %} #}
                                            {# </h3> #}
                                        {# </div> #}
                                        <div class="tcell tlabel">Includes</div>
                                        <div class="tcell tdata">
                                            <h3 class="section__text">
                                                <span>30 Professional LUTs</span>
                                            </h3>
                                        </div>
                                        <div class="tcell tlabel">Size</div>
                                        <div class="tcell tdata">
                                            {# {{ "%.0f MB"|format(product.productdetails.source_size / 1000) }} #}
                                            145.46 MB
                                        </div>
                                        {% for kind in ['trailer', 'tutorial'] %}
                                            {% with musics=product.productdetails.music.select_related('music_portal').all().filter(used_in_trailer=kind=='trailer') %}
                                                {% if musics|length %}
                                                    <div class="tcell tlabel">Music used in {{ kind }}</div>
                                                    <div class="tcell tdata">
                                                        {% include 'product/music_info.jinja2' %}
                                                    </div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <section class="minstaller__section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="minstaller">
                                <div class="minstaller__title">mInstaller</div>
                                <p class="minstaller__description">
                                    After purchasing, the product is <b>instantly available </b>for download via <a href="https://www.motionvfx.com/page/minstaller.html" target="_blank" rel="noopener noreferrer">mInstaller</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </section>

        <footer class="footer">
            <div class="image__background--carousel secuence" style="--s-index:0">
                {% set image_name = 'footer' %}
                <picture class="on-mobile">
                    <img data-src="{{mediaUrl}}/{{media_prefix}}{{image_name}}-m-raw.jpg">
                </picture>

                <div class="carousel slide carousel-fade fade-new" data-ride="carousel" data-interval="3000" data-pause="false">
                    <div class="carousel-inner">
                        {% for i in ['_a', '_b'] %}
                            {% set active = 'active' if loop.index==1 else '' %}
                            {{picture(
                                media_url=mediaUrl,
                                filename= media_prefix + image_name + i,
                                file_sizes=srcsetSizes,
                                formats=['jpg', 'webp'],
                                picture_class='carousel-item ' + active,
                                width=2560,
                                height=860,
                                data_src=True
                            )}}
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="section__content footer__content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section__text__content">
                                <div class="section__head">
                                    <div class="footer__title section__title">
                                        {{data.footer.title}}
                                    </div>
                                    <p class="footer__text section__text secuence">
                                        {{ data.footer.text }}
                                    </p>
                                </div>
                                <div class="button-buy">
                                    {% with discount_text="INTRO", version=2 %}
                                        {% include "product/buy_button.jinja2" %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    {# {% include './components/popup-left.jinja' %} #}
    {% include './components/submenu.jinja' %}

    <script src="dist/scripts.js"></script>
</body>

</html>
